<side-menu></side-menu>
<ion-header (click)="toggleMenu()">
  <button class="btn-menu">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{ titulo }}
  </ion-title>
</ion-header>

<ion-content padding>

  <header-navio [navio]="navio"></header-navio>

  <ion-list>
    <ion-item *ngFor="let conferencia of conferencias" no-lines class="conferencia-item" color="azulClaro" no-padding
      (click)="continuar(conferencia)">
      <ion-grid class="conferencia-grid">
        <ion-row class="conferencia-area-row">
          <ion-col class="conferencia-area-nome">
            Área:
            <span class="conferencia-span-area-nome">{{
              conferencia.area.nome
            }}</span>
          </ion-col>
          <ion-col align-self-end>
            <div class="div-icon">
              <ion-icon name="md-alert" class="icon-alert" *ngIf="!conferencia.finalizada"></ion-icon>
              <ion-icon name="md-checkmark-circle" class="icon-check" *ngIf="conferencia.finalizada"></ion-icon>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="conferencia-turno-row">
          <ion-col class="conferencia-turno-nome">
            <p>{{ dataFormatada(conferencia.dataHoraInicio) }} <span *ngIf="conferencia.turno">Turno:
                {{conferencia.turno?.nome}}</span></p>
            <p class="conferencia-turno-usuario"> Responsável: <span
                class="conferencia-responsavel">{{conferencia.conferenciaUsuario.nome}}</span></p>
          </ion-col>
          <ion-col align-self-end>
            <p class="conferencia-turno-totais">{{conferencia.totalVeiculos}}/{{conferencia.totalConferidos}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="!navio.conferenciaFinalizada && (isOnline || (!isOnline && disponivelOffline))" class="row-botao-voltar">
    <ion-col>
      <button ion-button class="btn-menu-internal" (click)="novaConferencia()" type="button">
        Nova Conferência
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isOnline && !disponivelOffline">
    <ion-col>
      <button ion-button class="btn-menu-internal" (click)="download()" type="button">
        Download
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isOnline && disponivelOffline">
    <ion-col>
      <button ion-button class="btn-menu-internal" (click)="download()" type="button">
        Atualizar Dados
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isOnline && !navio.conferenciaFinalizada">
    <ion-col>
      <button ion-button class="btn-menu-internal btn-menu-internal-azul-forte" (click)="finalizar()" type="button"
        [disabled]="navio==null">Finalizar</button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isOnline && navio.conferenciaFinalizada">
    <ion-col>
      <button ion-button class="btn-menu-internal" (click)="reabrir()" type="button"
        [disabled]="navio==null">Reabrir</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button class="btn-menu-internal btn-menu-internal-azul-forte" (click)="voltar()" type="button">
        Voltar
      </button>
    </ion-col>
  </ion-row>

</ion-content>

<modal-loading></modal-loading>
