<side-menu></side-menu>
<ion-header (click)="toggleMenu()">
    <button class="btn-menu">
      <i class="icon icon-menu" ></i>
    </button>
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>

<ion-content padding>

    <ion-list-header class="chassis-header">
            <ion-label>#{{romaneio.id}}</ion-label> 
    </ion-list-header>

    <ion-list >
    
        <ion-item>
            <ion-label>Porto:</ion-label>
            <ion-input class="form-control" type="text" [(ngModel)]="romaneio.porto" id="porto" name="porto" value="" placeholder="{{ porto }}"  [disabled]="true"></ion-input>
        </ion-item>

        <ion-item>
                <ion-label>Tipo:</ion-label>
                <ion-input class="form-control" type="text" [(ngModel)]="romaneio.tipo" id="tipo" name="tipo" value="" placeholder="{{ tipo }}"  [disabled]="true"></ion-input>
        </ion-item>
    
        <ion-item>
                <ion-label>Data:</ion-label>
                <ion-input class="form-control" type="text" [(ngModel)]="romaneio.data" id="data" name="data" value="" placeholder="{{ data }}"  [disabled]="true"></ion-input>
        </ion-item>  

        <div class="romaneio-list" *ngFor="let item of parametros.detalhes" >

            <ion-list-header (click)="toggleSlide($event)">
                Informações da Fila: Romaneio #{{ item.id }}<i class="icon arrow-down" id="arrow-toggle"></i>
            </ion-list-header>

            <ion-item>
                <ion-label label-ios>Rampa:</ion-label>
                <ion-select  (ionChange)="onRampaChange($event, item.id)" okText="Confirmar" cancelText="Cancelar">
                    <ion-option *ngFor="let rampa of rampas" value="{{rampa.id}}" id="{{rampa.id}}">{{rampa.nome}}</ion-option>
                </ion-select>
            </ion-item>
        
            <ion-item>
                <ion-label label-ios>Fila:</ion-label>
                <ion-select  (ionChange)="onFilaChange($event, item.id )" okText="Confirmar" cancelText="Cancelar">
                    <ion-option *ngFor="let fila of filas" value="{{fila.id}}" id="{{fila.id}}">{{fila.nome}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <div class="login-content">
                    <button ion-button round class="btn-default" (click)="finalizar()">Finalizar</button>
                </div>
            </ion-item>            
            
            <div class="toggleSlider">

                <ion-list-header class="chassis-header" >
                        Romaneio #{{ item.id }}
                </ion-list-header>        
        
                <ion-item>
                        <ion-label>Transportadora:</ion-label>
                        <ion-input class="form-control" type="text" id="{{ item.transportadora }}" value="" placeholder="{{ item.transportadora }}"  [disabled]="true"></ion-input>
                </ion-item>  
            
                <ion-item>
                    <ion-label>Frota:</ion-label>
                    <ion-input class="form-control" type="text" id="{{ item.frota }}" value="" placeholder="{{ item.frota }}"  [disabled]="true"></ion-input>
                </ion-item>                 
                
                <ion-item>
                        <ion-label>Placa do caminhão:</ion-label>
                        <ion-input class="form-control" type="text" id="{{ item.placa }}" value=""  placeholder="{{ item.placa }}" [disabled]="true"></ion-input>
                </ion-item> 
            
                <ion-list-header class="chassis-header" >
                        Chassis
                </ion-list-header> 

                <div class="vehycle" *ngFor="let veiculo of item.veiculos">                 

                    <ion-item class="no-border">
                            <ion-label>NFE:</ion-label>
                            <ion-input class="form-control" type="text" value="" placeholder="{{ veiculo.nota }}"  [disabled]="true"></ion-input>
                    </ion-item>  
                        
                    <ion-item class="no-border">
                            <ion-label>Chassi:</ion-label>
                            <ion-input class="form-control" type="text" value="" placeholder="{{ veiculo.chassi }}"  [disabled]="true"></ion-input>
                    </ion-item>

                    <ion-item class="no-border">
                            <ion-label>Modelo:</ion-label>
                            <ion-input class="form-control" type="text"  value="" placeholder="{{ veiculo.modelo }}"  [disabled]="true"></ion-input>
                    </ion-item> 
                        
                    <ion-item>
                            <ion-label>Posição:</ion-label>
                            <ion-input class="form-control" type="text" value="" placeholder="{{ veiculo.posicao }}"  [disabled]="true"></ion-input>
                    </ion-item>  
                </div> 

            </div>

        </div>   

    </ion-list>  

</ion-content>
<modal-loading></modal-loading>