<side-menu></side-menu>
<!-- <ion-header (click)="toggleMenu()" class="conferencia-header">
  <button class="btn-menu">
    <i class="icon icon-menu-gray"></i>
  </button>
  <ion-title>
    {{tituloPagina}}
  </ion-title>
</ion-header> -->
<side-menu-ce></side-menu-ce>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
    <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
      <i class="icon icon-menu" ></i>
    </button>
    <ion-title [ngStyle]="{'background-color': primaryColor}">
       Conferência
    </ion-title>
</ion-header>


<ion-content no-padding #pageTop class="conferencia-content" [ngStyle]="{'background-color': secondaryColor}">
  <ion-grid class="fixed" [ngStyle]="{'background-color': primaryColor}">
    <ion-row [ngStyle]="{'background-color': primaryColor}">
      <ion-col class="col-fixed" [ngStyle]="{'background-color': primaryColor}">
        <ion-grid class="grid-header" [ngStyle]="{'background-color': primaryColor}">
          <ion-row class="row-header" *ngIf="!fechamento" (click)="voltar()">
            <ion-col><strong>Nome:</strong>&nbsp;{{ usuario }}</ion-col>
            <ion-col class="turno"
              ><strong>Turno:</strong>&nbsp;{{ turno?.turnoHoraFaixa }}
            </ion-col>
          </ion-row>
          <ion-row class="row-header-sub">
            <ion-col col-9
              ><strong>Área:</strong>&nbsp;{{ configuracao.area.nome }}</ion-col
            >
            <ion-col
              class="col-icon-warning"
              *ngIf="fechamento && (conferenciaService.saldoConferencia$|async)>0"
              (click)="gotoListagemVeiculos()"
              [ngStyle]="{'background-color': primaryColor}"
            >
              <img src="assets/icons/icon-alert.png" class="img-warning" />
            </ion-col>
          </ion-row>
        </ion-grid>

        <conferencia-header
          [configuracao]="configuracao"
          [totalConferidos]="conferenciaService.totalConferidos$ | async"
          [totalVeiculos]="conferenciaService.totalVeiculos$ | async"
          (gotoPage)="gotoListagemVeiculos()"
          [ngStyle]="{'background-color': primaryColor}"
        >
        </conferencia-header>

        <ion-grid
          class="grid-destinos"
          *ngIf="configuracao.navioID && !fechamento"
          [ngStyle]="{'background-color': primaryColor}"
        >
          <ion-row class="row-destinos">
            <ion-col>
              <ion-item>
                <ion-label label-ios>Destino:</ion-label>
                <ion-select
                  (ionChange)="onDestinoChange($event)"
                  okText="Confirmar"
                  cancelText="Cancelar"
                  #selectDestino
                  placeholder="Selecione um destino"
                  [ngClass]="{selecionado: conferenciaService.destino != null}"
                  [ngStyle]="{'background-color': '#F84042'}"
                >
                  <ion-option
                    *ngFor="let destino of destinos"
                    value="{{ destino.id }}"
                    id="{{ destino.id }}"
                    [ngStyle]="{'background-color': primaryColor}"
                  >
                    {{ destino.nome }}</ion-option
                  >
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <input-chassi-controller
          *ngIf="!fechamento"
          [disabled]="!conferenciaService.destino"
          #scanner
          (onChassiDisabledClick)="onChassiDisabledClick($event)"
          (onChassiInputed)="onChassiChanged($event)"
          (onChassiScanned)="onChassiScannedChanged($event)"
          (onScannerShowed)="changeBackBehavior(false)"
          [ngStyle]="{'background-color': primaryColor}"
        >
        </input-chassi-controller>
      </ion-col>
    </ion-row>

    <ion-grid class="grid-select-wrapper" [ngStyle]="{'background-color': primaryColor}">
      <ion-row [ngStyle]="{'background-color': primaryColor}">
        <ion-col>
          <ion-grid class="grid-select">
            <ion-row>
              <ion-col
                class="col-left"
                [ngClass]="{ selected: slideLeftSelected }"
                (click)="changeSlideToLeft()"
              >
                <span>Destino</span>
              </ion-col>
              <ion-col
                class="col-center"
                [ngClass]="{ selected: slideCenterSelected }"
                (click)="changeSlideToCenter()"
              >
                <span>Turno</span>
              </ion-col>
              <ion-col
                class="col-right"
                [ngClass]="{ selected: slideRightSelected }"
                (click)="changeSlideToRight()"
              >
                <span>Hora</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>

  <ion-slides (ionSlideDidChange)="slideChanged($event)" [ngStyle]="{'background-color': primaryColor}">
    <ion-slide>
      <ion-grid class="grid-wrapper" [ngStyle]="{'background-color': primaryColor}">
        <ion-row>
          <ion-col>
            <ion-grid
              class="grid-resumo-destino" *ngFor="let resumo of conferenciaService.sumDestinos$ | async"
              [ngClass]="{'desabilitar': false}">
              <!-- <ion-row class="row-destino">
                <ion-col class="text-left">
                  {{ resumo.destinoNome }}
                </ion-col>
                <ion-col class="col-resumo-quantidade">
                  {{resumo.quantidadeConferidos}}/{{resumo.quantidadeVeiculos}}
                  ({{ resumo.quantidadeVeiculos - resumo.quantidadeConferidos
                  }})
                </ion-col>
              </ion-row> -->

              <ion-row>
                <ion-col class="col-grid-modelos">
                  <ion-grid
                    class="grid-resumo-destino-modelos"
                    *ngIf="resumo.modelos"
                  >
                    <ion-row
                      *ngFor="let modelo of resumo.modelos"
                      class="row-grid-modelos"
                    >
                      <ion-col class="text-left">
                        <strong> {{ modelo.modeloNome }}</strong>
                      </ion-col>
                      <ion-col class="col-resumo-quantidade">
                        {{modelo.quantidadeVeiculos - modelo.quantidadeConferidos}}/{{ modelo.quantidadeConferidos }} ({{modelo.quantidadeVeiculos }})
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide [ngStyle]="{'background-color': primaryColor}">
      <ion-grid class="grid-wrapper" [ngStyle]="{'background-color': primaryColor}">
        <ion-row>
          <ion-col>
            <ion-grid
              class="grid-resumo-turno"
              *ngFor="let resumo of conferenciaService.sumTurnos$ | async"
              padding
            >
              <ion-row class="row-data-turno">
                <ion-col col-8>
                  <div class="data">
                    <strong>Data:</strong> {{ resumo.dataFormatada }}
                  </div>
                  <div class="turno">
                    <strong>Turno: </strong>{{ resumo.turnoHoraInicioFormatado
                    }}-{{resumo.turnoHoraFimFormatado}}
                  </div>
                </ion-col>
                <ion-col class="col-resumo-quantidade"
                  ><span>{{ resumo.total }}</span></ion-col
                >
              </ion-row>

              <ion-row
                *ngFor="let detalhe of resumo.detalhes"
                class="row-grid-resumo-turno"
              >
                <ion-col class="col-grid-modelos">
                  <ion-grid class="grid-resumo-destino-modelos">
                    <ion-row>
                      <ion-col col-8 style="display: flex;">
                        <strong>{{ detalhe.modelo }}</strong>
                      </ion-col>
                      <ion-col class="col-resumo-quantidade">
                        {{ detalhe.totalConferidos }}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide [ngStyle]="{'background-color': primaryColor}">
      <ion-grid class="grid-wrapper" [ngStyle]="{'background-color': primaryColor}">
        <ion-row>
          <ion-col>
            <ion-grid
              class="grid-resumo-turno"
              *ngFor="let resumo of conferenciaService.sumHoras$ | async"
              padding
            >
              <ion-row class="row-data-turno">
                <ion-col col-8>
                  <div class="data">
                    <strong>Data:</strong> {{ resumo.dataFormatada }}
                  </div>
                  <div class="turno">
                    <strong>Hora:</strong> {{ resumo.hora }}
                  </div>
                </ion-col>
                <ion-col class="col-resumo-quantidade"
                  ><span>{{ resumo.total }}</span></ion-col
                >
              </ion-row>

              <ion-row
                *ngFor="let detalhe of resumo.detalhes"
                class="row-grid-resumo-turno"
              >
                <ion-col class="col-grid-modelos">
                  <ion-grid class="grid-resumo-destino-modelos">
                    <ion-row>
                      <ion-col col-8 style="display: flex;">
                        <strong>{{ detalhe.modelo }}</strong>
                      </ion-col>
                      <ion-col class="col-resumo-quantidade">
                        {{ detalhe.totalConferidos }}
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer
  no-border
  class="footer-sincronizacao"
  [ngClass]="{'small-footer': configuracao.conferenciaConfiguracaoStatusID==3}"
  [ngStyle]="{'background-color': primaryColor}"
>
  <ion-grid class="grid-botao-wrapper" no-padding [ngStyle]="{'background-color': primaryColor}">
    <ion-grid
      class="grid-dados"
      [ngClass]="{'amarelo': (  contador ) > 0, 'offline': !onLine }"
      *ngIf="!fechamento"
      (click)="executarSincronizacao()"

    >
      <ion-row [ngStyle]="{'background-color': primaryColor}">
        <ion-col col-8>
          <div class="texto-sincronizacao">
            SINCRONIZAÇÃO PENDENTES:
          </div>
          <div class="resumo">
            {{conferenciaService.totalUpload$ | async}} <strong>/ {{ (conferenciaService.saldoConferencia$ | async) }})</strong>
          </div>
        </ion-col>
        <ion-col class="col-icone">
          <ion-icon md="md-cloud-upload"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row
      *ngIf="fechamento && configuracao.conferenciaConfiguracaoStatusID==2"
      [ngStyle]="{'background-color': primaryColor}"
    >
      <ion-col>
        <ion-grid padding class="grid-botao-finalizar">
          <ion-row>
            <ion-col>
              <button
                ion-button
                class="btn-menu-internal"
                (click)="finalizar()"
                type="button"
                style="padding-left: 16px; padding-right: 16px;"
              >
                Finalizar Conferência
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row [ngStyle]="{'background-color': primaryColor}">
      <ion-col>
        <ion-grid padding class="grid-botao-voltar" [ngStyle]="{'background-color': primaryColor}">
          <ion-row>
            <ion-col>
              <button
                ion-button
                class="btn-menu-internal-ok btn-menu-internal-azul-forte"
                (click)="ok()"
                type="button"
                size="small"
                [ngStyle]="{'background-color': buttonColor}"

              >
                OK
              </button>
              <button
              ion-button
              class="btn-menu-internal-voltar btn-menu-internal-azul-forte"
              (click)="voltar()"
              type="button"
            >
              Voltar
            </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<modal-sincronizando></modal-sincronizando>
