escala-resumo {
  .grid-header-navio {
    background-color: #1c6381;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    border: 1px solid #06273f;

    p {
      margin: 2px;
    }

    .porto {
      font-size: 10px;
      margin-left: 2px;
    }
  }

  .list-items {
    //border: 1px solid #06273f;

    .list-header {
      //border: 1px solid red;
      //border: 1px solid #06273f;
      background-color: #1c6381;
      margin-bottom: 10px;
      //border-top: 0px none;
      color: white;

      ion-label {
        margin: 0px;
      }

      .grid-header {
        padding: 12px;
      }

    }

    .col-opener {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      ion-icon {
        margin-left: 12px;
      }
    }

    .list-invoice {

      margin: 0px;

      ion-label {
        font-size: 1.2rem;
      }

      .list-invoice-header {
        padding: 0px;
        background-color: #06273f;

        .grid-invoice-header {
          padding: 0px;

          ion-row {
            //border: 1px solid #1c6381;

            ion-col {
              padding: 6px;
              //background-color: red;
              border: 1px solid #1c6381;

            }
          }
        }


        margin: 0px;
      }
    }
  }

}
