page-lancamento-avaria-vistoria {
  background-color: #404040;
  ion-content {
    background-color: color($colors, bgQrCode) !important;
    .form-selecao {
      border-radius: 5px;
      border: 1px solid transparent;
      height: auto;
      ion-list{
        margin: 0;
        ion-item {
          background-color: #404040;
          padding: 0;
          border-bottom: 1px solid #747474;
        }

        .uma-imagem {
          width: 355px;
          height: 200px;
          background-color: transparent !important;
          display:inline-block;
          position: relative;
          padding-left: 12%;
          // top: 50%;
          // left: 50%;
          // width: 350;
          // height: 350;
          // transform: translate(25%, 3%);
        }

        .duas-imagens {
          width: 160px;
          height: 150px;
          background-color: transparent !important;
          display:inline-block;
          position: relative;
          // top: 50%;
          // left: 50%;
          // width: 350;
          // height: 350;
          transform: translate(25%, 3%);
        }

        .tres-imagens {
          width: 100px;
          height: 100px;
          background-color: transparent !important;
          display:inline-block;
          position: relative;
          padding-left: 12%;
          // top: 50%;
          // left: 50%;
          // width: 350;
          // height: 350;
          // transform: translate(25%, 3%);
        }

        img {
          border-radius: 5%;
        }
      }
    }
  }

  ion-footer {
    height: 120px;
    background-color: #404040;
    text-align: center;

    .grid-botao-wrapper {
      padding-left: 16px !important;
      padding-right: 16px !important;
      padding-top: 0px;

      .btn-menu-internal {
        background-color: #DEDEDE;
        color: black;
      }
    }
    .btn-ok {
      background-color: #747474;
    }
    .btn-cancel {
      background-color: #404040;
    }
    .btn-receiving {
      width: 45%;
      height: auto;
      .button-inner {
          padding: 25px 15px;
          font: 19px 'avenir_bold';
      }
    }
  }
}
