<ion-content class="menu-body">
  <nav class="">
    <ul class="">
      <li class="user menu">
        <a href="#" id="user">{{usuario}}
          <span class="user-email">- {{email}}</span>
          <span class="user-email">- {{localNome}}</span>
        </a>
      </li>
      <li class="home menu">
        <button (click)="navigateToHomePage()">Início</button>
      </li>
      <li class="dashboard menu" *ngIf="!userData.confereOffline && !userData.confereOnline">
        <button (click)="Dashboard()">Dashboard</button>
      </li>
      <li class="vagas menu" *ngIf="!userData.confereOffline && !userData.confereOnline">
        <button (click)="statusDeBolsao()">Status de Bolsão</button>
      </li>
      <li class="flashlight menu">
        <button (click)="turnOnFlashLight()">{{flashLightText}}</button>
      </li>
      <!-- <li class="about menu">
        <button (click)="about()">Sobre</button>
      </li> -->
      <li class="log-out menu">
        <button (click)="Logout()">Logout</button>
      </li>
      <li class="remove-device menu" *ngIf="!userData.confereOffline && !userData.confereOnline">
        <button (click)="removeDevice()">Remover Dispositivo</button>
      </li>

    </ul>
  </nav>
</ion-content>
