<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
    <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
      <i class="icon icon-menu" ></i>
    </button>
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>
<ion-content padding [ngStyle]="{'background-color': secondaryColor}">
  <form class="form-recebe-chassis" [ngStyle]="{'background-color': secondaryColor}">
    <ion-list>
      <ion-list-header>
        Selecione o chassi
      </ion-list-header>

      <ion-item>
        <ion-label label-ios>Chassi:</ion-label>
        <ion-select  (ionChange)="onChassisChange($event)" okText="Confirmar" cancelText="Cancelar" #movSelect [ngStyle]="{'background-color': primaryColor}">
          <ion-option *ngFor="let chassi of chassis" value="{{chassi}}" id="{{chassi}}" [ngStyle]="{'background-color': primaryColor}">{{chassi}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="login-content">
        <p>CONTINUAR A MOVIMENTAÇÃO?</p>
      <button ion-button round first class="btn-receiving btn-cancel" (click)="closeModal()" type="button">NÃO</button>
        <button ion-button round end class="btn-receiving btn-ok" (click)="ConsultarChassi()" type="button" [ngStyle]="{'background-color': buttonColor}">SIM</button>
      </div>

    </ion-list>
  </form>  
</ion-content>
