<ion-content>      
    <ion-list no-lines>

        <ion-item no-lines>
            <button class="reception main-menu" (click)="navigateToRecebimentoPage()">Recebimento</button>
        </ion-item>

        <ion-item>
            <button class="storage main-menu" (click)="navigateToParqueamentoPage()">Parqueamento</button>
        </ion-item>

        <ion-item>
            <button class="receber-parquear main-menu" (click)="navigateToReceberParquearPage()">Receber/Parquear</button>
        </ion-item>        

        <ion-item>
            <button class="movement main-menu" (click)="navigateToMovimentacaoPage()">Movimentação</button>
        </ion-item>

        <ion-item>
            <button class="trimming main-menu" (click)="navigateToRechegoPage()">Rechego</button>
        </ion-item>

        <ion-item>
            <button class="load-truck main-menu" (click)="navigateToCarregamentoPage()">Carregamento</button>
        </ion-item>

        <ion-item>
            <button class="load-export main-menu" (click)="navigateToCarregamentoExportPage()">Carregamento Export.</button>
        </ion-item>

        <ion-item>
            <button class="romaneio main-menu" (click)="navigateToRomaneioPage()">Romaneio</button>
        </ion-item>       

        <ion-item>
            <button class="historico-chassi main-menu" (click)="historicoChassiPage()">Histórico de Chassi</button>
        </ion-item>  
    </ion-list>
</ion-content>