component-menu {
  ion-content {
    background-color: #404040 !important;
    margin-top: 63px;

    ion-list {
      padding: 0 15px;
      background-color: #404040;

      ion-item.item {
        background-color: #404040;
        padding: 0;
        border-radius: 28px;
        margin-top: 12px;
        border: 1px solid #1f384a !important;

        ion-label.label-md {
          margin: 0;

          button {
            color: #fff;
            padding: 17px 0px;
            padding-left: 70px;
            width: 100%;
            height: 100%;
            text-align: left;
            display: inline-block;
            font: 17px 'avenir_regular';
            vertical-align: middle;
            text-decoration: none;
            background-color: #404040;
            background-repeat: no-repeat;
            background-position: 1px center;
            background-size: 16%;
          }

          button.reception {
            background-image: url("../assets/images/svg/recebimento-principal.svg ");
          }

          button.trimming {
            background-image: url("../assets/images/svg/recebimento-principal.svg ");
          }

          button.storage {
            background-image: url("../assets/images/svg/parqueamento-principal.svg ");
          }

          button.movement {
            background-image: url("../assets/images/svg/movimentacao-principal.svg ");
          }

          button.load-truck {
            background-image: url("../assets/images/svg/carregamento-principal.svg");
          }

          button.receber-parquear {
            background-image: url("../assets/images/receber-parquear.png ");
          }

          button.conferir {
            background-image: url("../assets/images/conferir.png");
          }

          button.load-export {
            background-image: url("../assets/images/svg/carregamento-expo-principal.svg ");
          }

          button.romaneio {
            background-image: url("../assets/images/svg/romaneio-principal.svg ");
          }

          button.historico-chassi {
            background-image: url("../assets/images/historico-chassi.png ");
          }
        }
      }
    }
  }
}

.header {
  padding: 13px 0 12px 20px;
  background-color: #404040;
  border-bottom: 1px solid #404040;

  ion-title {
    float: left;
    padding: 12px 10px 0 10px;
    text-transform: uppercase;

    .toolbar-title {
      color: #fff;
      text-align: left;
      padding: 0;
      font: 14px 'avenir_regular';
    }
  }
}

.icon {
  display: block;
}

.icon-menu {
  background-image: url("../assets/images/menu.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 38px;
  height: 31px;
  transition: all .4s ease-in-out;
}


.icon-menu.close-menu {
  background-image: url("../assets/images/close.png");
  transform: rotateY(180deg);
}
