<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">

  <form class="form-vistoria" [formGroup]="form">
    <ion-list>
        <ion-item [ngStyle]="{'background-color': primaryColor}">
          <ion-label label-ios>Empresa</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="empresa" value="Nexus">
            <ion-option>Nexus</ion-option>
          </ion-select>
        </ion-item>
        <ion-item [ngStyle]="{'background-color': primaryColor}">
          <ion-label label-ios>Local:</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="local" [value]="local">
            <ion-option>{{local}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item [ngStyle]="{'background-color': primaryColor}">
          <ion-label label-ios>Momento:</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="momento">
            <ion-option *ngFor="let item of momentos" value="{{item.nome}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item [ngStyle]="{'background-color': primaryColor}">
          <ion-label label-ios>Empresa Origem:</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="stakeholderOrigem">
            <ion-option *ngFor="let item of stakeholders" [value]="item.nome" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item [ngStyle]="{'background-color': primaryColor}" style="padding-bottom: 5%;">
          <ion-label label-ios>Empresa Destino:</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="stakeholderDestino">
            <ion-option *ngFor="let item of stakeholders" [value]="item.nome" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>
  </form>

  <div class="login-content">
    <!-- <button ion-button round end class="btn-receiving btn-ok" [ngStyle]="{'background-color': buttonColor}" type="button" [disabled]="!form.valid" (click)="toNavigate()">AVANÇAR</button> -->
    <button ion-button round end class="btn-receiving btn-ok" [ngStyle]="{'background-color': buttonColor}" type="button" (click)="toNavigate()">AVANÇAR</button>
    <button ion-button round first class="btn-receiving btn-cancel" type="button" (click)="voltar()">VOLTAR</button>
  </div>

</ion-content>
<modal-error></modal-error>
<modal-loading></modal-loading>
