<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': primaryColor}">

  <form class="form-recebe-chassis" [ngStyle]="{'background-color': secondaryColor}">
    <ion-list>
      <ion-list-header [ngStyle]="{'background-color': primaryColor}">
        Status Bolsões
      </ion-list-header>

      <ion-item class="vaga-ion-item-title" [ngStyle]="{'background-color': primaryColor}">
        <ion-grid>
          <ion-row>
            <ion-col>Bolsão</ion-col>
            <ion-col>Vagas</ion-col>
            <ion-col>Ocupadas</ion-col>
            <ion-col>Disponíveis</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item *ngFor="let vaga of vagas" class="vaga-ion-item" [ngStyle]="{'background-color': primaryColor}">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col class="bolsao-nome">{{vaga.bolsaoNome}}</ion-col>
            <ion-col>{{vaga.totalDeBlocosSemVaga + vaga.totalDeBlocosComVaga}}</ion-col>
            <ion-col class="bolsao-ocupado">{{vaga.totalDeBlocosSemVaga}}</ion-col>
            <ion-col class="bolsao-disponivel">{{vaga.totalDeBlocosComVaga}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

              <!-- <ion-label label-ios>Layout:</ion-label>
        <ion-select (ionChange)="onLocalChange($event)" okText="Confirmar" cancelText="Cancelar" #select1>
          <ion-option *ngFor="let layout of layouts" value="{{layout.id}}" id="{{layout.id}}">{{layout.local.nome}} - {{layout.nome}}</ion-option>
        </ion-select> -->

    </ion-list>
  </form>

  <div class="login-content">
    <button ion-button round class="btn-default" (click)="voltar()" [ngStyle]="{'background-color': buttonColor}">Voltar</button>
  </div>
</ion-content>
<modal-error></modal-error>
<modal-loading></modal-loading>
