page-carregamento-resumo {
    transition: all 0.4s ease-in-out;
    background-color: #404040 !important;
    ion-content {
        background-color: color($colors, bgQrCode) !important;
        .scroll-content {
            .header-item{
                background-color: #595959 !important;
            }
            .new-vehicle{
                margin-bottom: -1px;
            }
            .form {
                background-color: #404040;
                border-radius: 5px;
                border: 1px solid transparent;
                margin-bottom: 20px;
                .form .form-group {
                    position: relative;
                    margin-bottom: 0;
                }
                h4 {
                    font: 16px 'avenir_demi';
                    color: #fff;
                    background-color: #595959;
                    padding: 15px;
                    margin: 0 !important;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    width: 100%;
                }
                .select-input {
                    position: relative;
                    width: 100%;
                }
                label {
                    font: 16px 'avenir_demi';
                    bottom: 10px;
                    color: #fff;
                    left: 15px;
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                }

                input {
                    font: 14px 'avenir_demi';
                    width: 100%;
                    background-color: #404040;
                    border: none;
                    border-radius: 0;
                    background-color: #404040;
                    color: #fff;
                    text-align: left;
                    padding-right: 15px;
                }
                .label-header{
                    background-color: #595959;
                }
                .label-md[floating]{
                    margin-bottom: 30px;
                    margin-top: 0;
                }
                label-floating .text-input-md{
                    margin-top: 10px !important;
                    margin-bottom: 11px !important;
                }
                .input-header{
                    input{
                        font-size: 14px;
                        padding: 15px;                       
                    }
                }
                .icon-qr-code{
                    background-image: url(../assets/images/qr-code-white.png);
                    background-repeat: no-repeat;
                    background-position: 95% center;
                    background-size: 100%;
                    width: 46px;
                    height: 46px;
                    right: 6px;
                    bottom: 1px;
                    position: absolute;
                }
                ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color:    #fff;
                }
                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:    #fff;
                opacity:  1;
                }
                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:    #fff;
                opacity:  1;
                }
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color:    #fff;
                }
                ::-ms-input-placeholder { /* Microsoft Edge */
                color:    #fff;
                }
                ion-list{
                    margin: 0;
                    ion-list-header{
                        background-color: #595959;
                        border-top: none;
                        margin: 0;
                        border-bottom: 1px solid #747474;
                        ion-label{
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                    .item-label-floating{
                        background-color: #595959;
                    }
                    ion-item{
                        background-color: #404040;
                        padding: 0;
                        border-bottom: 1px solid #747474;
                        .item-inner{
                            padding-left: 15px;
                            padding-right: 15px;
                            border-bottom: 1px solid transparent !important;
                            ion-label{
                                color: #fff;
                            }
                            .icon-date-picker{
                                background-image: url("../assets/images/icon-date-picker-white.png");
                                background-repeat: no-repeat;
                                background-size: 39px 36px;                               
                            }
                            ion-select{
                                max-width: 85%;
                                .select-text{
                                    padding-right: 10px;
                                    color: #fff;
                                    font: 14px 'avenir_demi';
                                }
                            }
                        }

                    } 
                    ion-input.chassis-carregados{
                        input{
                            background-image: url("../assets/images/change-chassi.svg");
                            background-repeat: no-repeat;
                            background-size: 20px 20px;
                            background-position: right center;
                            margin: 0;
                            padding: 15px;
                        }                        
                    }
                    ion-input.chassis-nao-carregados{
                        input{
                            background-image: url("../assets/images/remove-chassi.svg");
                            background-repeat: no-repeat;
                            background-size: 20px 20px;
                            background-position: right center;
                            margin: 0;
                            padding: 15px;
                        }

                    }                                 
                }              
            }

            .login-content {
                margin-top: 15px;
                width: 100%;
                text-align: center;
                .btn {
                    background-color: #595959;
                    width: 100% !important;
                    padding: 25px;
                    border-radius: 45px;
                    color: #fff;
                    font: 17px 'avenir_demi';
                    text-transform: uppercase;
                    margin: 0 auto;
                }            
                .btn-default {
                    background-color: #595959;
                    width: 100%;
                    height: auto;
                    span {
                        padding: 25px 15px 25px 15px;
                        font: 19px 'avenir_bold';
                    }
                }
            }              
        }         
      
    }  
    .list-md .item-input:last-child{
        border-bottom: 1px solid #747474;
    }  
    .datetime-text{
        color: #fff;
    }  
} 