<side-menu></side-menu>
<ion-header (click)="toggleMenu()">
  <button class="btn-menu">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>{{title}}</ion-title>
</ion-header>

<ion-content padding id="recebimento" class="recebimento show">
  <div class="qr-code-container">
    <form form class="form-lancar-avaria" [formGroup]="formLancamentoAvaria">
      <ion-list>
        <div class="login-content">
          <button ion-button round end class="btn-receiving-long btn-ok"(click)="voltar()" type="button" *ngIf="showInfoCar">Voltar</button>
        </div>
        <br>

        <ion-item style="background-color: black;">
          <ion-label label-ios style="font-style: unset;">Lançamento de Avaria</ion-label>
        </ion-item>

        <ion-item style="background-color: darkred;">
          <ion-label label-ios  style="font-style: unset;">Local: {{userData['localNome']}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label label-ios>Momento:</ion-label>
          <ion-select  (ionChange)="onMomentoChange($event)" okText="Selecionar" cancelText="Cancelar">
              <ion-option *ngFor="let momento of momentos" value="{{momento.id}}" id="{{momento.id}}">{{momento.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-input type="text" placeholder="Chassi" value="" formControlName="chassi" name="chassi"></ion-input>
          </ion-col>
          <ion-col col-1 style="align-self: center;">
            <i class="icon qrcode-gray" (click)="modalBuscarChassi()"></i>
          </ion-col>
        </ion-row>
      </ion-grid>
<!--
      <ion-list>
        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Observação:</b></ion-label>
          <ion-textarea label-ios style="font-style: unset; color: white;" formControlName="observacao" name="observacao"></ion-textarea>
        </ion-item>
      </ion-list> -->

    </form>
  </div>

  <div class="login-content">
    <button ion-button round first class="btn-receiving btn-cancel" (click)="voltar()" type="button" *ngIf="!showInfoCar">Voltar</button>
    <button ion-button round end class="btn-receiving btn-ok" (click)="scanInput()" type="button" *ngIf="!showInfoCar">Busca</button>
    <button ion-button round end class="btn-receiving-long btn-ok" type="button" *ngIf="showInfoCar">Busca</button>
  </div>

  <br>

  <div class="qr-code-container" *ngIf="showInfoCar">
    <form form class="form-lancar-avaria">
      <ion-list>

        <ion-item class="item-list-black">
          <ion-label label-ios style="font-style: unset;">Resultado Busca</ion-label>
        </ion-item>

        <ion-item class="item-list-grey">
          <ion-label label-ios style="font-style: unset;"><b>Chassi: </b>{{formData.chassi}}</ion-label>
        </ion-item>

        <ion-item class="item-list-grey">
          <ion-label label-ios style="font-style: unset;"><b>Modelo: </b>{{formData.modelo}}</ion-label>
        </ion-item>

        <ion-item class="item-list-grey">
          <ion-label label-ios style="font-style: unset;"><b>Posição: </b>{{formData.posicaoAtual}}</ion-label>
        </ion-item>

        <ion-item class="item-list-grey">
          <ion-label label-ios style="font-style: unset;"><b>Cor: </b>{{formData.cor}}</ion-label>
        </ion-item>
      </ion-list>
    </form>
  </div>

  <div class="login-content" *ngIf="showInfoCar">
    <button ion-button round end class="btn-receiving-long btn-ok" (click)="openModalSelecionarSuperficie()" type="button">Selecione Superficie Avariada</button>
  </div>

</ion-content>
<modal-error></modal-error>
<modal-loading></modal-loading>
