<ion-grid
  class="grid-base grid-configuracao"
  (click)="gotoPageClick()"
  [ngClass]="{ 'grid-cais': configuracao.area.tipo == 1 }"
>
  <ion-row class="row-configuracao">
    <ion-col col-8 class="col-configuracao">
      <div class="titulo">
        {{ configuracao.navio ? configuracao.navio.nome :
        configuracao.arquivo.nomeOriginal }}
      </div>
      <div class="subtitulo" *ngIf="configuracao.navio">
        {{ configuracao.navio.viagem }}
      </div>
    </ion-col>
    <ion-col col-4 class="col-status">
      <div class="area">{{ configuracao.area.nome }}</div>
      <div class="contador">
        <sincronizacao-info
          [conferenciaConfiguracaoId]="configuracao.id"
        ></sincronizacao-info>
        {{ configuracao.totalConferidos }}/{{ configuracao.totalVeiculos }}
        ({{configuracao.totalVeiculos-configuracao.totalConferidos}})
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
