page-nova-conferencia-justificativa {

  .grid-opcao {
    margin-top: -20px;
  }

  .botao-primeiralinha {
    margin-top: 20px;
  }
  .btn-menu-internal {
    background-color: #595959  !important;
    color: #fff !important;
  }
  ion-footer {
    height: 100px;
    background-color: #494949;

    .grid-botao-wrapper {
      padding-left: 16px !important;
      padding-right: 16px !important;
      padding-top: 0px;

      .btn-menu-internal {
        background-color: #595959;
        color: #FFF;
      }
    }
  }
}
