<ion-header >
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>
<ion-content padding>
  <form class="form-recebe-chassis">
    <ion-list>
      <ion-list-header>
        Chassis Inserido
      </ion-list-header>

        <ion-item>
            <ion-label>NFE:</ion-label>
            <ion-input class="form-control" type="text" [(ngModel)]="Data.nota" id="nfe" name="nota" value="" placeholder="{{ nfe }}"  [disabled]="isDisabled ? '' : null"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Chassi:</ion-label>
            <ion-input class="form-control" type="text" [(ngModel)]="Data.chassi" id="chassi" name="chassi" value="" placeholder="{{ chassi }}"  [disabled]="isDisabled ? '' : null"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Modelo:</ion-label>
            <ion-input class="form-control" type="text" [(ngModel)]="Data.modelo" id="modelo" name="modelo" value="" placeholder="{{ modelo }}"  [disabled]="isDisabled ? '' : null"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Posição:</ion-label>
            <ion-input class="form-control" type="text" [(ngModel)]="Data.posicao" id="posicao" name="posicao" value="" placeholder="{{ posicao }}"  [disabled]="isDisabled ? '' : null"></ion-input>
        </ion-item>
        <div class="login-content">
          <button ion-button round first class="btn-receiving btn-cancel" (click)="closeModal()" type="button">CANCELAR</button>
          <button ion-button round end class="btn-receiving btn-ok" (click)="ConfirmarVeiculo()" type="button">CONFIRMAR</button>
        </div>
    </ion-list>
  </form>
</ion-content>
<modal-loading></modal-loading>
