header-navio {

  .grid-header-navio {
    background-color: #1c6381;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    border: 1px solid #06273f;

    p {
      margin: 2px;
    }

    .porto {
      font-size: 10px;
      margin-left: 2px;
    }
  }
}
