page-nova-conferencia-listar-configuracoes {

  .row-botao-voltar {
    margin-top: 50px;
  }

  ion-footer {
    height: 100px;
    // background-color: #404040;

    .grid-botao-wrapper {
      padding-left: 16px !important;
      padding-right: 16px !important;
      padding-top: 0px;

      .btn-menu-internal {
        background-color: #DEDEDE;
        color: #fff;
      }
    }
  }
}
