<ion-content padding style="height: 100vh; width: 100%; position: fixed; top: 0; left: 0; z-index: 1;">

  <ion-grid class="grid-modal">

    <ion-row class="row-icon">
      <ion-col class="col-icon">
        <img src="assets/icons/icon-info-azul.png" class="img-icon">
      </ion-col>
    </ion-row>

    <ion-row class="row-padding-text">
      <ion-col>
      </ion-col>
    </ion-row>

    <ion-row class="row-primary-text">
      <ion-col class="col-primary-text">
        <p class="p-primary-text">SINCRONIZANDO!</p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
