page-conferencia-planilha-resumo {

  ion-content {
    background-color: color($colors, bgQrCode) !important;

    .login-content {

      .btn-receiving {
        width: 45%;
        height: auto;

        .button-inner {
          padding: 25px 15px 25px 15px;
          font: 19px 'avenir_bold';
        }
      }

      .btn-ok {
        background-color: #595959;
      }

      .btn-cancel {
        background-color: #404040;
      }
    }
  }

  .first-row {
    margin-top: 50px;
  }

}
