page-nova-conferencia-configuracao-area {
  ion-content {
    background-color: color($colors, bgQrCode) !important;
  }

  .label-tipo-conferencia {
    font-size: 0.9em;
    text-transform: none;
  }

  .grid-cais {
    background-color: color($colors, areaCais) !important;
  }

  .grid-item {
    margin-top: 5px;
    background-color: #8E897E;
    margin-bottom: 10px;
    color: white;
    height: 40px;
    min-height: 60px;
    font-weight: bold;

    .row-navio {
      .col-navio {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-transform: uppercase;
        align-items: flex-start;

        .div-navio-nome {
          margin-left: 10px;
          font-size: 16px;
          word-break: break-word;
          text-align: left;
        }

        .div-navio-viagem {
          margin-left: 10px;
          margin-top: 4px;
          font-size: 14px;
        }
      }

      .col-status {
        justify-content: center;
        text-transform: uppercase;
      }
    }

    ion-row {
      height: 100%;

      ion-col {
        display: flex;
        align-items: center;
      }
    }
  }

  .grid-enabled {
    color: white !important;
  }

  .grid-areas {
    margin-bottom: 10px;
    background-color: #5D5D5D;
    color: white;

    ion-item {
      background-color: white !important;

      .select-icon-inner {
        background-image: url('../assets/images/arrow-down-black.png') !important;
      }
    }

    ion-select {
      .select-text {
        color: black;
      }
    }

    .row-area {

      .checkbox-md .checkbox-checked {
        border-color: white;
        background-color: #0FB708;
      }

      .col-area {
        text-transform: uppercase;

        .div-area-status {
          font-size: 10px;
          margin-top: 2px;
        }
      }

      ion-toggle {
        zoom: 0.6;
      }

      .toogle-area {
        background-color: #404040;

        .item-inner {
          height: 22px;
        }
      }

      .col-check {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .row-botao-margin-top-50 {
    margin-top: 0px;
  }

  .item {
    //color: red;
    font-size: 14px;

    .select-icon-inner {
      color: black !important;
    }
  }

  .area-selecionada {
    color: red !important;
  }

  .item-select .label-md {
    color: black;
  }

  .big-footer {
    height: 190px !important;
  }

  ion-footer {
    height: 100px;
    background-color: white;

    .btn-confirmar {
      background-color: #A7FF8D !important;
    }

    .grid-botao-wrapper {
      padding-left: 16px !important;
      padding-right: 16px !important;
      padding-top: 0px;

      .btn-menu-internal {
        background-color: #DEDEDE;
        color: black;
      }
    }
  }

}
