page-lancamento-avaria-vistoria-lancar {
  background-color: #404040;
  ion-content {
      background-color: color($colors, bgQrCode) !important;
      .form-lancar-avaria {
          background-color: #404040;
          border-radius: 5px;
          border: 1px solid transparent;
          height: auto;
          .form .form-group {
              position: relative;
              margin-bottom: 0;
          }
          h4 {
              font: 16px 'avenir_demi';
              color: #fff;
              background-color: #595959;
              padding: 15px;
              margin: 0 !important;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px;
              width: 100%;
          }
          .select-input {
              position: relative;
              width: 100%;
          }
          label {
              font: 16px 'avenir_demi';
              bottom: 10px;
              color: #fff;
              position: absolute;
              left: 15px;
              display: inline-block;
              max-width: 100%;
              margin-bottom: 5px;
          }
          input {
              font: 14px 'avenir_demi';
              width: 100%;
              background-color: #404040;
              border: none;
              border-radius: 0;
              background-color: #404040;
              color: #fff;
              text-align: left;
              padding-right: 15px;
          }
          ion-list{
              margin: 0;
              ion-list-header{
                  background-color: #747474;
                  border-top: none;
                  ion-label{
                      color: #fff;
                      font: 16px 'avenir_demi';
                  }
              }
              ion-item{
                  background-color: #404040;
                  padding: 0;
                  border-bottom: 1px solid #747474;
                  .item-inner{
                      padding-left: 15px;
                      border-bottom: 1px solid transparent !important;
                      ion-label{
                          color: #fff;
                      }
                      ion-select{
                          max-width: 85%;
                          .select-text{
                              padding-right: 10px;
                              color: #fff;
                              font: 14px 'avenir_demi';
                          }
                      }
                    }
                    ion-chip{
                      width: 100px;
                      text-align: center;
                      margin-left: 1%;
                    }

              }
          }
          .item-list-grey{
            background-color: #747474;
          }
          .item-list-black{
            background-color: black;
          }
      }
  }
  #recebimento {
      transition: all 0.4s ease-in-out;
      background-color: color($colors, bgQrCode) !important;
      input {
          border: 1px solid #fff;
          background-color: #747474;
          color: #fff;
          font: 14px 'avenir_demi';
          padding: 15px;
          border-radius: 1%;
          margin-bottom: 15px;
          text-transform: uppercase;
      }
      .login-content {
          margin-top: 15px;
          padding: 0;
          width: 100%;
          text-align: center;
          display: block;
          p {
              color: #fff;
              text-align: center;
              font: 16px 'avenir_demi';
              margin: 30px 0;
          }
          .btn-receiving {
              width: 45%;
              height: auto;
              .button-inner {
                  padding: 25px 15px 25px 15px;
                  font: 19px 'avenir_bold';
              }
          }
          .btn-receiving-long {
              width: 90%;
              height: auto;
              .button-inner {
                  padding: 25px 15px 25px 15px;
                  font: 19px 'avenir_bold';
              }
          }
          .btn-ok {
              background-color: #747474;
          }
          .btn-cancel {
              background-color: #404040;
          }
      }
  }

  ion-footer {
    height: 10%;
    background-color: #404040;
    text-align: center;
    display: flex;

    .grid-botao-wrapper {
      padding: 1% 2% !important;

      .btn-receiving-long {
        width: 97%;
        height: auto;
        .button-inner {
            padding: 25px 15px 25px 15px;
            font: 19px 'avenir_bold';
        }
      }
      .btn-receiving-small {
        background-color: #747474 !important;
        width: 48%;
        height: 73px;
        border-radius: 64px !important;
        font: 19px "avenir_bold";
        font-weight: 500;
        text-transform: uppercase;
        color: white;
      }
      .btn-receiving {
        width: 45%;
        height: auto;
        .button-inner {
            padding: 25px 15px;
            font: 19px 'avenir_bold';
        }
      }
      .btn-ok {
        background-color: #747474 !important;
        // background-color: #A7FF8D !important;
        color: white !important;
      }
      .btn-cancel {
        background-color: #404040;
      }
    }
  }

  .divtotais {
    display: flex;
  }

  .row-navio {
    color: white;

    .col-navio {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
      align-items: flex-start;

      .div-navio-nome {
        font-size: 9px;
        word-break: break-word;
        text-align: left;
        font-weight: bold;
      }

      .div-navio-viagem {
        margin-top: 4px;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .col-status {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-transform: uppercase;
      font-size: 16px;

      .legenda {
        font-size: 10px;
        margin-bottom: 4px;
        text-transform: none;
        word-break: break-word;
        text-align: right;
        font-weight: bold;
      }
    }
  }
}

.btn {
  background-color: #595959;
  width: 100% !important;
  padding: 25px;
  border-radius: 45px;
  color: #fff;
  font: 17px 'avenir_demi';
  text-transform: uppercase;
  margin: 0 auto;
}
