page-conferencia-finalizados {
    background-color: #404040;

    .grid-base {
      color: white;
      height: 40px;
    }

    .grid-header {
      //font-weight: bold;
      background-color: #1D6482;
      margin-bottom: 20px;
      .text-selecao {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .grid-noreg {
      background-color: #1D6482;
      margin-top: 20px;
    }

    .grid-error {
      background-color: red;
    }

    .grid-arquivos {
      margin-top: 20px;
    }

    .grid-navio {
      margin-top: 5px;
      background-color: #072740;
      height: 60px;

      .col-icon {
        justify-content: center;

        .icon-check {
          color: green;
          font-size: 2.2rem;
        }
      }

      ion-row {
        height: 100%;

        ion-col {
          //background-color: red;
          display: flex;
          align-items: center;
          //height: 100%;
        }
      }

    }

    .row-botao-voltar {
      margin-top: 50px;
    }

    ion-content {
      background-color: color($colors, bgQrCode) !important;

    }


  }
