page-ordenar-romaneio-fila {
    ion-content{
        background-color: #00141b;
        .scroll-content{
            background-color: #00141b;
            ion-item.item-md{
                background-color: #06273f;
                color: #fff;
                .item-inner{
                    margin-left: 5px;
                }
                .ion-md-football:before{
                    content: '';
                    background-image: url( '../assets/images/order.png' );
                    background-size: 24px 33px;
                    width: 24px;
                    height: 33px;
                }
                .ion-md-wine:before{
                    content: '';
                    background-image: url( '../assets/images/fila.png' );
                    background-size: 40px 40px;
                    width: 40px;
                    height: 40px;
                }                
                h2{
                    background-color: #06273f;
                    color: #fff;            
                }
                p{
                    background-color: #06273f;
                    color: #fff;            
                }
                .item-inner{
                    border-bottom: 1px solid transparent;
                }
            } 
        } 
        .login-content {
            margin-top: 15px;
            padding: 0 20px;
            width: 100%;
            text-align: center;
            .btn {
                background-color: #1c6381;
                width: 100% !important;
                padding: 25px;
                border-radius: 45px;
                color: #fff;
                font: 17px 'avenir_demi';
                text-transform: uppercase;
                margin: 0 auto;
            }            
            .btn-default {
                background-color: #1c6381;
                width: 100%;
                height: auto;
                span {
                    padding: 25px 15px 25px 15px;
                    font: 19px 'avenir_bold';
                }
            }
        }          
    }
}
