<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content [ngStyle]="{'background-color': secondaryColor}">
  <ion-list no-lines [ngStyle]="{'background-color': secondaryColor}">
    <ion-item no-lines *ngFor="let menu of userMenus;" [ngStyle]="{'background-color': primaryColor}">
      <button
        class="main-menu"
        [ngClass]="menu.cssClass "
        (click)="chamar(menu)" 
        [ngStyle]="{'background-color': primaryColor}"
      >
        {{menu.texto}}
      </button>
    </ion-item>
  </ion-list>
  <!-- <ion-list no-lines *ngIf="!userData.confereOffline && !userData.confereOnline">

    <ion-item no-lines>
      <button class="reception main-menu" (click)="navigateToRecebimentoPage()">Recebimento</button>
    </ion-item>

    <ion-item>
      <button class="storage main-menu" (click)="navigateToParqueamentoPage()">Parqueamento</button>
    </ion-item>

    <ion-item>
      <button class="receber-parquear main-menu" (click)="navigateToReceberParquearPage()">Receber/Parquear</button>
    </ion-item>

    <ion-item>
      <button class="conferir main-menu" (click)="navigateToNovaConferencia()">Conferência</button>
    </ion-item>

    <ion-item>
      <button class="parquear-bloco main-menu" (click)="navigateToParquearEmBlocoPage()">Parquear/Bloco</button>
    </ion-item>

    <ion-item>
      <button class="movement main-menu" (click)="navigateToMovimentacaoPage()">Movimentação</button>
    </ion-item>

    <ion-item>
      <button class="trimming main-menu" (click)="navigateToRechegoPage()">Rechego</button>
    </ion-item>

    <ion-item>
      <button class="load-truck main-menu" (click)="navigateToCarregamentoPage()">Carregamento</button>
    </ion-item>

    <ion-item>
      <button class="load-export main-menu" (click)="navigateToCarregamentoExportPage()">Carregamento Export.</button>
    </ion-item>

    <ion-item>
      <button class="romaneio main-menu" (click)="navigateToRomaneioPage()">Romaneio</button>
    </ion-item>

    <ion-item>
      <button class="historico-chassi main-menu" (click)="historicoChassiPage()">Histórico de Chassi</button>
    </ion-item>
  </ion-list>


  <ion-list no-lines *ngIf="userData.confereOffline || userData.confereOnline">
    <ion-item>
      <button class="conferir main-menu" (click)="navigateToNovaConferencia()">Conferência</button>
    </ion-item>
  </ion-list> -->
</ion-content>
