page-home {

  // background-color: color($colors, primary) !important;

  .tabbar {
    display: none;
  }
.header{
//  background-color: #5B5959 !important;
}
  .fixed-content {
    margin-bottom: 0 !important;
  }

  ion-content {


    ion-list {
      padding: 0 15px;
      // background-color: #404040;

      ion-item.item {
        // background-color: #747474;
        padding: 0;
        border-radius: 28px;
        margin-top: 12px;
        border: 1px solid #fff !important;

        ion-label.label-md {
          margin: 0;

          button {
            color: #fff;
            padding: 17px 0px;
            padding-left: 70px;
            width: 100%;
            height: 100%;
            text-align: left;
            display: inline-block;
            font: 17px 'avenir_regular';
            vertical-align: middle;
            text-decoration: none;
            background-color: #747474;
            background-repeat: no-repeat;
            background-position: 1px center;
            background-size: 16%;
          }
// .btn-login{
//   border: 1px solid #fff;
//   background-color: #a7a7a7 !important;
// }


          button.reception {
            background-image: url("../assets/images/svg/recebimento-principal.svg ");
          }

          button.trimming {
            background-image: url("../assets/images/svg/rechego.svg ");
          }

          button.storage {
            background-image: url("../assets/images/svg/parqueamento-principal.svg ");
          }

          button.movement {
            background-image: url("../assets/images/svg/movimentacao-principal.svg ");
          }

          button.load-truck {
            background-image: url("../assets/images/svg/carregamento-principal.svg");
          }

          button.receber-parquear {
            background-image: url("../assets/images/receber-parquear-red.png ");
          }

          button.conferir {
            background-image: url("../assets/images/conferencia.svg");
          }

          button.load-export {
            background-image: url("../assets/images/svg/carregamento-expo-principal.svg ");
          }

          button.romaneio {
            background-image: url("../assets/images/svg/romaneio-principal.svg ");
          }

          button.bloqueio {
            background-image: url("../assets/images/svg/bloqueio-icon.svg ");
          }

          button.historico-chassi {
            background-image: url("../assets/images/historico-chassi-red.png ");
          }

          button.parquear-bloco {
            background-image: url("../assets/images/svg/parqueamento-bloco.svg ");
          }

          button.vistoriar {
            background-image: url("../assets/images/svg/vistoriar.svg");
            margin-left: 13px;
          }
        }
      }
    }

    @media #{$tablet} {
      ion-header.header {
        padding: 0;
      }

      ion-label {
        margin: 0;
      }

      ion-list {
        height: 100%;

        ion-item.item {
          height: calc(100% / 10);
          border-radius: 50px !important;

          ion-label {
            height: 100%;
            width: 100%;
          }
        }
      }

      .header {
        display: flex;

        ion-title {
          padding: 0 15px;
        }
      }

      button {
        color: #fff;
        padding: 17px 0px;
        padding-left: 100px;
        width: 75%;
        height: 100%;
        text-align: left;
        display: inline-block;
        font: 25px 'avenir_regular';
        vertical-align: middle;
        text-decoration: none;
        // background-color: #747474;
        background-repeat: no-repeat;
        background-position: 1px center;
        background-size: 16%;
        height: 100%;
      }

      button.btn-menu {
        width: auto;
        padding: 15px;
      }

      button.reception {
        background-image: url("../assets/images/svg/recebimento-principal.svg ");
        margin-left: 13px;
        fill:green;
      }

      button.trimming {
        background-image: url("../assets/images/svg/rechego.svg ");
        margin-left: 13px;
      }

      button.storage {
        background-image: url("../assets/images/svg/parqueamento-principal.svg ");
        margin-left: 13px;
        fill:green;
      }

      button.movement {
        background-image: url("../assets/images/svg/movimentacao-principal.svg ");
        margin-left: 13px;
      }

      button.load-truck {
        background-image: url("../assets/images/svg/carregamento-principal.svg");
        margin-left: 13px;
      }

      button.receber-parquear {
        background-image: url("../assets/images/receber-parquear-red.png ");
        margin-left: 13px;
      }

      button.conferir {
        background-image: url("../assets/images/conferencia.svg");
        margin-left: 13px;
      }

      button.load-export {
        background-image: url("../assets/images/svg/carregamento-expo-principal.svg ");
        margin-left: 13px;
      }

      button.romaneio {
        background-image: url("../assets/images/svg/romaneio-principal.svg ");
        margin-left: 13px;
      }

      button.bloqueio {
        background-image: url("../assets/images/bloqueio-icon.png");
        margin-left: 13px;
      }

      button.historico-chassi {
        background-image: url("../assets/images/historico-chassi-red.png ");
        margin-left: 13px;
      }

      button.parquear-bloco {
        background-image: url("../assets/images/svg/parqueamento-bloco.svg ");
        margin-left: 13px;
      }

      button.lancamento-servico {
        background-image: url("../assets/images/svg/lancamento-servico.svg");
        margin-left: 13px;
      }

      button.observacoes {
        background-image: url("../assets/images/svg/observacoes-icon.svg");
        margin-left: 13px;
      }

      button.vistoriar {
        background-image: url("../assets/images/svg/vistoriar.svg");
        margin-left: 13px;
      }

      button.conferir {
        background-image: url("../assets/images/svg/lancamento-servico.svg");
        margin-left: 13px;
      }

    }
  }
}


ion-content.content {
  .scroll-content {
    margin-bottom: 0;
  }

}

.menu-body.show-menu {
  left: 0%;
}

.menu-inner.show {
  transform: translateX(-312px);
}

.btn-menu {
  background-color: #595959;
  float: left;
  margin-top: 5px;
}
