modal-chassis-vistoria {
  ion-content {
    .form-vistoria {

      ion-input {
        border:  1px solid #fff;
        background-color: #747474;
        color: #747474;
        font: 14px 'avenir_demi';
        width: 100%;
        height: 100%;
        border-radius: 2%;
        text-align: left;
        padding-right: 10px;
        text-transform: uppercase;
      }

      label {
        font: 10px 'avenir_demi';
        bottom: 0px;
        color: #fff;
        position: absolute;
        left: 35px;
        display: inline-block;
        max-width: 100%;
      }

      .form-checkpoint {
        border-radius: 5px;
        border: 1px solid transparent;
        height: auto;

        label {
          font: 16px 'avenir_demi';
          bottom: 10px;
          position: absolute;
          left: 15px;
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
        }

        input {
          font: 14px 'avenir_demi';
          width: 100%;
          background-color: #404040;
          border: none;
          border-radius: 0;
          background-color: #404040;
          color: #fff;
          text-align: left;
          padding-right: 15px;
        }

        ion-list{
          margin: 0;

          ion-item{
            padding: 0;

            .item-inner{
              ion-label{
                color: #fff;
                a {
                  font: 16px 'avenir_demi';
                  color: #fff;
                }
              }
              ion-select{
                max-width: 85%;
                .select-text{
                  padding-right: 10px;
                  color: #fff;
                  font: 14px 'avenir_demi';
                }
              }
              padding-left: 15px;
              border-bottom: 1px solid transparent !important;
            }
          }
        }
      }
    }
  }

  ion-footer {
    height: 180px;
    background-color: #404040;
    text-align: center;
    display: flex;

    .grid-botao-wrapper {
      padding: 12px 2px !important;

      .btn-receiving-long {
        width: 90%;
        height: auto;
        .button-inner {
            padding: 25px 15px 25px 15px;
            font: 19px 'avenir_bold';
        }
      }

      .btn-receiving {
        width: 45%;
        height: auto;
        .button-inner {
            padding: 25px 15px;
            font: 19px 'avenir_bold';
        }
      }
      .btn-ok {
        background-color: #A7FF8D !important;
        color: black !important;
      }
      .btn-cancel {
        background-color: #484848 !important;
      }
    }

    .login-content {
      margin-top: 10px;
      width: 850%;
      text-align: center;
      display: block;
      margin-right: 2%;
      margin-left: 1%;

      .btn-receiving {
          width: 100%;
          height: auto;
          .button-inner {
              padding: 25px 15px;
              font: 19px 'avenir_bold';
          }
      }
      .btn-cancel {
          background-color: #404040;
      }
      .btn-ok {
        background-color: #A7FF8D !important;
        color: black !important;
      }
    }
  }
}

.checklist-style2 {
  background-color: #747474;
  // background-color: #595959;
  // background-color: #484848;
  // background-color: #404040;
  // background-color: #06273f;
  // background-color: #00141b;
  // background-color: #A7FF8D;
}

.checklist-style7 {
  background-color: #A7FF8D;
  color: white;
}
