<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">
  <form class="form-chassi-avaria" [formGroup]="form">

    <div class="form-checkpoint">
      <ion-list>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;">{{form.controls.local.value}}</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;">{{form.controls.stakeholderOrigem.value}}</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;">{{form.controls.stakeholderDestino.value}}</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;">{{form.controls.momento.value}}</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-grid>
      <ion-label style="padding-left: 1%;">Chassi</ion-label>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]="formData.chassi" [formControl]="formControl" placeholder="Chassi" #chassiInput></ion-input>
        </ion-col>
        <ion-col col-1 style="align-self: center;">
          <i class="icon qrcode-gray" (click)="buscarChassi()"></i>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="form-checkpoint" *ngIf="success">
      <ion-list>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;"><b>Fabricante: </b>{{veiculo.posicaoAtual}}</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;"><b>Modelo: </b>{{veiculo.modelo}}</ion-label>
        </ion-item>
        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;"><b>Ano Modelo: </b>2023</ion-label>
        </ion-item>
      </ion-list>
    </div>

    <ion-footer no-border [ngStyle]="{'background-color': primaryColor}">
      <ion-grid class="grid-botao-wrapper">
        <ion-row>
          <ion-col *ngIf="true == false">
            <button ion-button round first class="btn-receiving btn-cancel" (click)="closeModal()" type="button" [ngStyle]="{'background-color': buttonColor}">SEM AVARIA</button>
            <button ion-button round end class="btn-receiving btn-ok" type="button" [ngStyle]="{'background-color': buttonColor}">AVARIADO</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="grid-botao-wrapper-cancel">
        <ion-row>
          <ion-col>
            <button ion-button round first class="btn-receiving btn-cancel" (click)="closeModal()" type="button" [ngStyle]="{'background-color': buttonColor}">VOLTAR</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>

  </form>
</ion-content>
<modal-loading></modal-loading>
