<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">
  <form class="form-vistoria" [formGroup]="form">

    <div class="form-checkpoint checklist-style2">
      <ion-list>
        <ion-item no-lines class="checklist-style2">
          <ion-icon name="location" class="location"></ion-icon>
          <ion-label>{{form.controls.local.value}}</ion-label>
        </ion-item>
        <ion-item no-lines class="checklist-style2">
          <ion-label>{{form.controls.stakeholderOrigem.value}}</ion-label>
        </ion-item>
        <ion-item no-lines class="checklist-style2">
          <ion-label label-ios style="font-style: unset;">{{form.controls.stakeholderDestino.value}}</ion-label>
        </ion-item>
        <ion-item no-lines class="checklist-style2">
          <ion-label label-ios style="font-style: unset;">{{form.controls.momento.value}}</ion-label>
        </ion-item>
        <ion-item class="checklist-style2">
          <ion-label label-ios>Checklist</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="checklist">
            <ion-option *ngFor="let item of checklists" value="{{item.nome}}" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
    <!--
    <div class="form-checkpoint">
      <ion-list>
        <ion-item [ngStyle]="{'background-color': secondaryColor}">
          <ion-label label-ios>Checklist</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar" formControlName="empresa" value="Nexus">
            <ion-option>Nexus</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div> -->

    <ion-grid>
      <ion-label style="padding: 0% 1%;">Chassi</ion-label>
      <ion-row>
        <ion-col col-10>
          <ion-input type="text" [(ngModel)]="formData.chassi" [formControl]="formControl" placeholder="Chassi" #chassiInput disabled="{{!form.valid}}"></ion-input>
        </ion-col>
        <ion-col col-1 style="align-self: center;">
          <i class="icon qrcode-gray" (click)="buscarChassi()"></i>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>

<ion-footer no-border [ngStyle]="{'background-color': primaryColor}">
  <div class="login-content">
    <button ion-button round first class="btn-receiving btn-cancel" type="button" (click)="close()">VOLTAR</button>
  </div>
</ion-footer>
<modal-loading></modal-loading>
