<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">
  <!-- <div class="login-content" [ngStyle]="{'background-color': secondaryColor }"> -->
  <button ion-button round class="btn" [ngStyle]="{'background-color': buttonColorDark}" style="margin-left: 2.5%;">Novo</button>
  <button ion-button round class="btn" [ngStyle]="{'background-color': buttonColor}" style="margin-left: 2.5%;">Buscar</button>
  <!-- </div> -->
  <div style="background-color: #000000;">

  </div>

  <section class="charts-content chart-qualidade">
    <ion-list>
      <div style="margin:0 auto; background-color: #1E1E1E;"> <!-- #1B1B1B -->

        <ion-row>
          <ion-col sm>
            <div style="width: 80%;float: right;text-align: end;padding-top: 4px;">
              <ion-label style="font-size: 18px;font-weight: bold;">{{avariasLoading['totalAvarias']}}</ion-label>
              <ion-label style="font-size: 12px;font-weight: bold;">Total de</ion-label>
              <ion-label style="font-size: 12px;font-weight: bold;">Avarias</ion-label>
            </div>
          </ion-col>

          <ion-col>
            <img src="assets/images/qualidade_dashboard_small.PNG"  width="200" height="122" style="width: 100%;">
          </ion-col>

          <ion-col>
            <div style="width: 80%;float: left;text-align: start; padding-top: 4px;">
              <ion-label style="font-size: 18px;font-weight: bold;">{{avariasLoading['porcentagemVeiculosAvariados'] | number }}%</ion-label>
              <ion-label style="font-size: 12px;font-weight: bold;">Veículos</ion-label>
              <ion-label style="font-size: 12px;font-weight: bold;">Avariados</ion-label>
            </div>
          </ion-col>
        </ion-row>

        <div style="padding-bottom: 6px;color: white; background-color: transparent;">
          <ion-slides pager="true" [options]="slideOpts" pager loop slidesPerView="3" style="padding-left: 20%;padding-right: 20%;" pager="{{false}}">
            <ion-slide style="display: inline;" *ngFor="let nivel of avariasLoading['nivelAvarias']">
              <div style="padding: 0px 5px ;">
                <round-progress [current]="nivel['porcentagem'].toFixed(1)" [max]="100" [stroke]="15" [radius]="125" [semicircle]="true"
                  [responsive]="true" [clockwise]="true" [color]="'#FF0000'" [background]="'#eaeaea'"
                  [duration]="80" [animation]="'easeOutCubic'" [animationDelay]="0">
                </round-progress>
              </div>
              <div style="text-align: center; color: #fff;font-size: small;">{{nivel['porcentagem'].toFixed(1)}}</div>
              <div style="text-align: center; color: #fff;font-size: small;">{{nivel['nome']}}</div>
            </ion-slide>
          </ion-slides>
        </div>
        <ion-row>
          <ion-col>
          </ion-col>
        </ion-row>

      </div>
    </ion-list>
  </section>
  <br>

  <section class="charts-content" [ngStyle]="{'background-color': buttonColorDark}">
    <ion-item-divider style="background-color: #1E1E1E;">
      <ion-label class="ion-label">
        Últimas Avarias Cadastradas
      </ion-label>
    </ion-item-divider>

    <ion-list style="padding-right: 3%;">
      <dashboard-accordion *ngFor="let avaria of avarias" style="font-size: 5px;background-color: #1E1E1E;" [navioNome]="avaria.modelo + ' - Chassi: ' + avaria.chassi">
        <ion-item no-lines>
          <ion-label>Tipo de Anomalia:</ion-label>
          <ion-input type="text"  placeholder="{{avaria.tipoAvaria}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label>Parte Avariada:</ion-label>
          <ion-input type="text" placeholder="{{avaria.parteAvariada}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label>Nível de Avaria:</ion-label>
          <ion-input type="text" placeholder="{{avaria.nivelGravidadeAvaria}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label>Data:</ion-label>
          <ion-input type="text" placeholder="{{avaria.data | date: 'dd/MM/yyyy'}}" [disabled]="true"></ion-input>
        </ion-item>
      </dashboard-accordion>

    </ion-list>
  </section>


  <!-- <ion-grid class="grid-slide-wrapper">
    <ion-row>
      <ion-col class="col-slide-wrapper">

    <ion-list style="padding-right: 3%;">
      <dashboard-accordion *ngFor="let avaria of avarias" style="font-size: 5px;background-color: #1E1E1E;" [navioNome]="avaria.modelo + ' - Chassi: ' + avaria.chassi">
        <ion-item no-lines>
          <ion-label>Tipo de Anomalia:</ion-label>
          <ion-input type="text"  placeholder="{{avaria.tipoAvaria}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label>Parte Avariada:</ion-label>
          <ion-input type="text" placeholder="{{avaria.parteAvariada}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label>Nível de Avaria:</ion-label>
          <ion-input type="text" placeholder="{{avaria.nivelGravidadeAvaria}}" [disabled]="true"></ion-input>
        </ion-item>

        <ion-item no-lines>
          <ion-label>Data:</ion-label>
          <ion-input type="text" placeholder="{{avaria.data | date: 'dd/MM/yyyy'}}" [disabled]="true"></ion-input>
        </ion-item>
      </dashboard-accordion>

    </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-infinite-scroll (ionInfinite)="doInfinit($event)" *ngIf="pagination.hasMoreData">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="login-content" [ngStyle]="{'background-color': secondaryColor}">
    <button ion-button round class="btn-default" (click)="Voltar()" [ngStyle]="{'background-color': '#1E1E1E'}">Voltar</button>
  </div>

</ion-content>

<modal-error></modal-error>
<modal-loading></modal-loading>

