<side-menu></side-menu>
<ion-header (click)="toggleMenu()">
    <button class="btn-menu">
      <i class="icon icon-menu" ></i>
    </button>
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>
<ion-content padding id="form-recebimento" class="form-recebimento">
    <form class="form-parking">
        <ion-list>
            <ion-list-header>
                Informações de parqueamento
            </ion-list-header>
            <ion-item>
                <ion-label>Chassi:</ion-label>
                <ion-input class="form-control" type="text" [(ngModel)]="formRecebimentoData.chassi" id="chassi" name="chassi" value="" placeholder="{{ qrCode }}"  [disabled]="isDisabled ? '' : null"></ion-input>
            </ion-item>

            <ion-item class="item-block item-ios item-select">
                <ion-label>Local:</ion-label>
                <ion-input class="form-control" type="text" [(ngModel)]="formRecebimentoData.local" id="local" name="local" value="" placeholder="{{ local }}" [disabled]="isDisabled ? '' : null"></ion-input>
            </ion-item>
        
            <ion-item *ngIf="tShow; else elseBlock">
                <ion-label label-ios>Layout:</ion-label>
                <ion-select  (ionChange)="onLayoutChange($event)" okText="Confirmar" cancelText="Cancelar" #select1 > 
                    <ion-option *ngFor="let layout of layouts; let i = index" value="{{layout.id}}" id="{{layout.id}}" selected="{{i === 0}}">{{layout.nome}}</ion-option>
                </ion-select>
            </ion-item>
   
            <ng-template  #elseBlock>       
                <ion-item>
                    <ion-label label-ios>Layout:</ion-label>
                    <ion-input class="form-control" type="text" [(ngModel)]="formRecebimentoData.layoutNome" id="layoutNome" name="layoutNome" value="" placeholder="" disabled></ion-input>
                </ion-item> 
            </ng-template>             

            <ion-item>
                <ion-label label-ios>Bolsão:</ion-label>
                <ion-select (ionChange)="onBolsaoChange($event)" okText="Confirmar" cancelText="Cancelar">
                     <ion-option *ngFor="let bolsao of bolsoes; let i = index" value="{{bolsao.id}}" id="{{bolsao.id}}" selected="{{i === 0}}">{{bolsao.nome}}</ion-option> 
                </ion-select>
            </ion-item>                
        
            <ion-item>
                <ion-label label-ios>Fila:</ion-label>
                <ion-select (ionChange)="onFilaChange($event)" okText="Confirmar" cancelText="Cancelar">
                    <ion-option *ngFor="let fila of filas; let i = index " value="{{fila.id}}" id="{{fila.id}}" selected="{{i === 0}}">{{fila.nome}}</ion-option>
                </ion-select>
            </ion-item> 

            <ion-item>
                <ion-label label-ios>Posição:</ion-label>
                    <ion-select (ionChange)="onPosicaoChange($event)" okText="Confirmar" cancelText="Cancelar">
                        <ion-option *ngFor="let posicao of posicoes; let i = index" value="{{posicao.id}}" id="{{posicao.id}}" selected="{{i === 0}}">{{posicao.nome}}</ion-option>
                    </ion-select>
            </ion-item> 

        </ion-list>
    </form>
    <div class="login-content">
        <button ion-button round class="btn-default" type="submit" (click)="ParquearVeiculo()">Finalizar</button>
    </div>
</ion-content>
<modal-loading></modal-loading>