page-conferencia-menu {
  //background-color: #404040;

  ion-content {

    background-color: color($colors, bgQrCode) !important;

    ion-grid {
      margin-top: -12px;
    }

    .row-botao-voltar {
      margin-top: 70px;
    }

  }
}
