<side-menu></side-menu>
<ion-header (click)="toggleMenu()">
  <button class="btn-menu">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>
<ion-content padding id="form-novo-romaneio" class="form-novo-romaneio">
  <div class="form">
    <ion-list>

      <ion-grid>
        <ion-row justify-content-start>
          <ion-col col-9>
            <ion-input class="input-header" type="text" (ionChange)="onChange($event)" [(ngModel)]="chassi" placeholder=""></ion-input>
          </ion-col>
          <ion-col col-3>
            <ion-label class="code" (click)="scan()"></ion-label>
            <ion-label class="search hidden" (click)="buscaChassi()"></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <label class="hidden">{{result.id}}</label>

      <div *ngFor="let detalhes of result.detalhes">
        <ion-list-header>
          <div float-start>
            <label class="title-header">Romaneio: </label>
            <span> {{ detalhes.id }}</span>
          </div>
          <div float-end>
            <label class="title-header">Fila: </label>
            <span>{{ detalhes.fila }}</span>
          </div>
        </ion-list-header>

        <ion-list-header>
          <div float-start>
            <label class="title-header">Chassis {{textSituacao}}</label>
          </div>
          <div float-end>
            <label class="title-header">Total: </label>
            <span> {{ detalhes.quantidadeCarregados }}</span>
          </div>
        </ion-list-header>

        <div *ngFor="let chassi of detalhes.chassisCarregados" data-id="{{ chassi }}" id="{{ chassi }}" (click)="removeCarregados($event, chassi)"
          style="border: 1px solid #595959;">
          <div style="display: inline-block; width: 25%;">
            <label>Chassi2: </label>
          </div>
          <div style="display: inline-block; width: 70%">
            <input class="form-control" type="text" name="" value="{{chassi}}" placeholder="{{chassi}}" [disabled]="true" class="chassis-carregados"
            />
          </div>
        </div>
        <ion-list-header>
          <div float-start>
            <label class="title-header">Chassis Não {{textSituacao}}</label>
          </div>
          <div float-end>
            <label class="title-header">Total: </label>
            <span> {{ detalhes.quantidadeNaoCarregados }}</span>
          </div>
        </ion-list-header>

        <div *ngFor="let chassi of detalhes.chassisNaoCarregados" data-id="{{ chassi }}" id="{{ chassi }}" style="border: 1px solid #595959; display: flex; align-items: center;justify-content: space-around;">
          <div>
            <label>Chassi: </label>
          </div>
          <div>
            <input class="form-control" type="text" name="" value="{{chassi}}" placeholder="{{chassi}}" [disabled]="true" class="chassis-nao-carregados"
            />
          </div>
          <div #deleteChassi class="change-chassi"  id="{{ chassi }}" (click)="cancelarChassi($event, chassi)">
            <img src="assets/images/remove-chassi.svg" alt="">
          </div>
          <div #changeChassi class="remove-chassi"  id="{{ chassi }}" (click)="trocaCarregados($event, chassi)">
            <img src="assets/images/change-chassi.svg" alt="" >
          </div>
        </div>
      </div>
    </ion-list>
    <div class="login-content">

      <button *ngIf="exibirBotaoFinalizar && !isConferencia" ion-button round class="btn-default" id="btn-finalizar" (click)="finalizarCarregamento()">Finalizar Carregamento</button>
      <!-- <button *ngIf="exibirBotaoFinalizar && isConferencia" ion-button round class="btn-default" id="btn-finalizar" (click)="finalizarConferencia()">Finalizar Conferência</button> -->
      <br>
      <button ion-button round class="btn-default" id="btn-voltar" (click)="voltar()">Voltar</button>
      <br>
      <!-- <br>
      <button ion-button round class="btn-default" id="btn-voltar" (click)="cancelarCarregamento()">Cancelar Carregamento</button> -->

    </div>
  </div>


</ion-content>
<modal-loading></modal-loading>
