<side-menu></side-menu>
<ion-header (click)="toggleMenu()">
    <button class="btn-menu">
        <i class="icon icon-menu"></i>
    </button>
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>
<ion-content padding id="form-movimentacao">

    <form class="form-movimentacao">
        <ion-list>
            <ion-list-header>
                INFORMAÇÕES DE DESBLOQUEIO
            </ion-list-header>

            <ion-item class="item-block item-ios item-select">
                <ion-label>CHASSI:</ion-label>
                <ion-input class="form-control" type="text" [(ngModel)]="FormBloqueioData.chassi" id="chassi"
                    name="chassi" value="" placeholder="{{ chassi }}" [disabled]="isDisabled ? !'' : !null"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label label-ios>DATA/HORA BLOQUEIO:</ion-label>

                <ion-datetime displayFormat="DD/MM/YYYY HH:mm " pickerFormat="DD/MM/YYYY HH:mm " id="data_hora"
                    name="data_hora" [(ngModel)]="FormBloqueioData.data_hora" value="FormBloqueioData.dataDesbloqueio"
                    doneText="Confirmar" cancelText="Cancelar"></ion-datetime>
            </ion-item>

            <!-- <ion-item>
                <ion-label label-ios>TIPO DE BLOQUEIO:</ion-label>
                <ion-select (ionChange)="onTipoBloqueioChange($event)" okText="Confirmar" cancelText="Cancelar">
                    <ion-option *ngFor="let tipo of tipos" value="{{tipo.id}}" id="{{tipo.id}}">{{tipo.nome}}
                    </ion-option>
                </ion-select>
            </ion-item> -->

            <ion-item>
                <ion-label style="max-width:217px">RAZÃO DO DESBLOQUEIO:</ion-label>
                <ion-textarea id="razao" name="razao" [(ngModel)]="FormBloqueioData.observacaoDesbloqueio" rows="6" cols="20"
                    style="color: #fff;"></ion-textarea>
            </ion-item>
        </ion-list>
    </form>
    <div class="login-content">
        <div class="login-content">
            <button ion-button round first class="btn-receiving btn-cancel" (click)="voltar()"
                type="button">Voltar</button>
            <button ion-button round end class="btn-receiving btn-ok" (click)="Desbloquear()" type="button">OK</button>
        </div>
    </div>
</ion-content>
<modal-loading></modal-loading>