<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    Configuração
  </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">

  <ion-grid class="grid-base grid-header" *ngIf="navios.length" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col text-center class="text-selecao" [ngStyle]="{'background-color': primaryColor}">
        Selecione um Navio
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-base grid-navio" *ngFor="let navio of navios" (click)="continuar(navio)" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col>
        <strong>Navio/Viagem:</strong>&nbsp;{{navio.nome}} / {{navio.viagem}}
      </ion-col>
      <ion-col col-2 class="col-icon">
        <ion-icon name="checkmark-circle" class="icon-check" *ngIf="navio.disponivelConferencia"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-base grid-noreg" *ngIf="navios.length==0 && !showErrorMessage" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col text-center>
        Não existem navios disponíveis para conferência
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-base grid-header grid-header-planilha" *ngIf="planilhas.length" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col text-center class="text-selecao">
        Selecione uma Planilha
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-base grid-navio" *ngFor="let planilha of planilhas" (click)="continuarPlanilha(planilha)" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col>
        <strong>Planilha:</strong>&nbsp;{{planilha.nomeOriginal}}
      </ion-col>
      <ion-col col-2 class="col-icon">
        <ion-icon name="checkmark-circle" class="icon-check" *ngIf="planilha.disponivelConferencia"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-base grid-noreg" *ngIf="planilhas.length==0 && !showErrorMessage" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col text-center>
        Não existem planilhas disponíveis para conferência
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-base grid-error" *ngIf="showErrorMessage" [ngStyle]="{'background-color': primaryColor}">
    <ion-row>
      <ion-col text-center>
        Ocorreu um erro!
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="row-botao-voltar">
    <ion-col>
      <button ion-button class="btn-menu-internal btn-menu-internal-azul-forte" (click)="voltar()" [ngStyle]="{'background-color': buttonColor}"
        type="button">Voltar</button>
        
    </ion-col>
  </ion-row>

</ion-content>

<modal-loading></modal-loading>
