<ion-content padding>
    <div class="qr-code-container">
      <i class="icon icon-reception"></i>
      <p>ROMANEIO SALVO COM</p>
      <h3>SUCESSO!</h3>
      <div class="line"></div>
      <p>DESEJA ADICIONAR NOVO ROMANEIO</p>
      <P>A ESTA TRANSPORTADORA</P>  
      <button ion-button round first class="btn-receiving btn-cancel" (click)="cancelar()" type="button">NÃO</button>
      <button ion-button round end class="btn-receiving btn-ok" (click)="addRomaneio()" type="button">SIM</button>
    </div>
</ion-content>
<modal-loading></modal-loading>