<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>{{title}}</ion-title>
</ion-header>

<ion-content padding id="selecao-superficie" class="recebimento show">

  <div>
    <form [formGroup]="form" class="form-selecao-superficie">
      <ion-list>

        <!-- Imagem -->
        <div *ngIf="formData.number != 9 && formData.number != 10">
          <img [src]="urlImagem" id="image" class="img-relative">
          <div id="canvasWrapper">
            <canvas #imageCanvas (touchstart)="touched($event)" (touchmove)="moved($event)" id="canvas"></canvas>
          </div>
        </div>

        <!-- Lado -->
        <ion-item *ngIf="formData.number == 5 || formData.number == 6 || formData.number == 7">
          <ion-label label-ios style="font-style: unset;"><b>Lado: </b></ion-label>
          <ion-select okText="Selecionar" cancelText="Cancelar" formControlName="lado">
            <ion-option value="{{1}}">Direito</ion-option>
            <ion-option value="{{2}}">Esquerdo</ion-option>
          </ion-select>
        </ion-item>

        <!-- Subarea -->
        <ion-item *ngIf="formData.number != 9 && formData.number != 10">
          <ion-label label-ios style="font-style: unset;"><b>Subárea: </b></ion-label>
          <ion-select (ionChange)="selectSubAreaChange()" okText="Selecionar" cancelText="Cancelar" formControlName="subArea">
            <ion-option value="{{1}}">1</ion-option>
            <ion-option value="{{2}}">2</ion-option>
            <ion-option value="{{3}}">3</ion-option>
            <ion-option value="{{4}}">4</ion-option>
            <ion-option value="{{5}}">5</ion-option>
            <ion-option value="{{6}}">6</ion-option>
            <ion-option value="{{7}}">7</ion-option>
            <ion-option value="{{8}}">8</ion-option>
            <ion-option value="{{9}}">9</ion-option>
          </ion-select>
        </ion-item>

        <!-- Peça -->
        <ion-item *ngIf="formData.number != 10">
          <ion-label label-ios style="font-style: unset;"><b>Peça:</b></ion-label>
          <ion-select (ionChange)="selectPartsChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="parte">
             <ion-option *ngFor="let item of parts" value="{{item.id}}" id="{{item.id}}">{{item.description}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- Peça Outros -->
        <ion-item *ngIf="formData.number == 10">
          <ion-label label-ios style="font-style: unset;"><b>Peça: </b></ion-label>
          <ion-textarea label-ios style="font-style: unset; color: white;"  formControlName="parteOutros"></ion-textarea>
        </ion-item>

        <!-- Tipo Avaria -->
        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Tipo de Avaria:</b></ion-label>
          <ion-select (ionChange)="selectQualityInconsistenceChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="avaria">
            <ion-option *ngFor="let item of qualityinconsistences" value="{{item.id}}" id="{{item.id}}">{{item.description}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- Gravidade -->
        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Gravidade: </b></ion-label>
          <ion-select (ionChange)="selectSeverityChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="gravidade">
            <ion-option *ngFor="let item of severities" value="{{item.id}}" id="{{item.id}}">{{item.description}}</ion-option>
          </ion-select>
        </ion-item>

        <!-- Responsabilidade -->
        <ion-item *ngIf="tipoVistoria == 1">
          <ion-label label-ios style="font-style: unset;"><b>Responsabilidade Avaria: </b></ion-label>
          <ion-select (ionChange)="selectResponsabilidadeAvariaChange($event)" okText="Selecionar" cancelText="Cancelar">
            <ion-option *ngFor="let item of responsabilidadeAvarias" value="{{item.id}}" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;"><b>Foto Avaria:</b></ion-label>
        </ion-item>

        <ion-toolbar color="primary" *ngFor="let file of images; index as pos" text-wrap>
          <ion-row style="align-items: center;">
            <ion-thumbnail>
              <ion-col>
                <img [src]="file.path" style="width:25% ; height: 25%;" class="align-items-dangerous-image">
              </ion-col>
              <ion-col>
                <ion-label class="align-items-dangerous-image abel-align-dangerous">{{ file.fileName }}</ion-label>
              </ion-col>
              <ion-col size="1">
                <button ion-button slot="end" (click)="presentAlert(file)" class="button-style">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </button>
              </ion-col>
            </ion-thumbnail>
          </ion-row>
        </ion-toolbar>

        <ion-toolbar color="primary">
          <ion-row style="align-items: center;" (click)="selectImage($event)">
            <ion-thumbnail>
              <img src="assets/images/camera-white-model.png" class="align-camera">
            </ion-thumbnail>
          </ion-row>
        </ion-toolbar>

      </ion-list>

    </form>
  </div>

</ion-content>

<ion-footer no-border [ngStyle]="{'background-color': primaryColor}">
  <ion-grid class="grid-botao-wrapper">
    <ion-row>
      <ion-col>
        <button ion-button round end class="btn-receiving btn-new"  (click)="newQualityinconsistence()" type="button" [disabled]="!form.valid">Nova Avaria</button>
        <button ion-button round end class="btn-receiving btn-ok" type="button" (click)="save()" [disabled]="!form.valid">Finalizar</button>
      </ion-col>
      <ion-col>
        <button ion-button round end class="btn-return btn-cancel" type="button" (click)="return()">Voltar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<modal-error></modal-error>
<modal-loading></modal-loading>
