page-lancamento-avaria-gm-selecao {
  background-color: #404040;
  ion-content {
    background-color: color($colors, bgQrCode) !important;
    .form-selecao-superficie {
      background-color: #404040;
      border-radius: 5px;
      border: 1px solid transparent;
      height: auto;
      .form .form-group {
          position: relative;
          margin-bottom: 0;
      }
      h4 {
          font: 16px 'avenir_demi';
          color: #fff;
          background-color: #595959;
          padding: 15px;
          margin: 0 !important;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          width: 100%;
      }
      .select-input {
          position: relative;
          width: 100%;
      }
      label {
          font: 16px 'avenir_demi';
          bottom: 10px;
          color: #fff;
          position: absolute;
          left: 15px;
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
      }
      input {
          font: 14px 'avenir_demi';
          width: 100%;
          background-color: #404040;
          border: none;
          border-radius: 0;
          background-color: #404040;
          color: #fff;
          text-align: left;
          padding-right: 15px;
      }
      ion-list{
        margin: 0;
        ion-item{
          background-color: #404040;
          padding: 0;
          border-bottom: 1px solid #747474;
          .item-inner{
            padding-left: 15px;
            border-bottom: 1px solid transparent !important;
            ion-label{
              color: #fff;
            }
            ion-select{
              max-width: 85%;
              .select-text{
                  padding-right: 10px;
                  color: #fff;
                  font: 14px 'avenir_demi';
              }
            }
          }
        }
        canvas {
          position: absolute;
        }
        #canvasWrapper {
          position: absolute;
          top: 298px;
        }
        [size="small"] {
          height: 10px;
          font-size: 8px;
          width: 20px;
          color: #fff;
          // text-align: center;
          padding-bottom: 5%;
          justify-content: center;
          position: fixed;
          z-index: 4;
          background: transparent;

          bottom: 426px;
          left: 7px;
        }
        .align-items-dangerous-image {
          display: inline-block;
        }
        .label-align-dangerous {
          padding-left: 5%;
          padding-top: 15%;
        }
        .button-style {
          margin-bottom: 12%;
          margin-left: 10%;
          border: none;
          box-shadow: none;
        }
      }
      .item-list-grey{
        background-color: #595959;
      }
      .item-list-black{
        background-color: black;
      }
      .align-camera{
        width: 20%;
        height: 20%;
        transform:translateX(200%);
      }
      .img-relative {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  #selecao-superficie {
    transition: all 0.4s ease-in-out;
    background-color: color($colors, bgQrCode) !important;
    input {
        border: 1px solid #fff;
        background-color: #747474;
        color: #fff;
        font: 14px 'avenir_demi';
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
  }

  ion-footer {
    height: 120px;
    background-color: #404040;
    text-align: center;

    .grid-botao-wrapper {
      padding-left: 16px !important;
      padding-right: 16px !important;
      padding-top: 0px;

      .btn-menu-internal {
        background-color: #DEDEDE;
        color: black;
      }
    }
    .btn-ok {
      background-color: #747474;
    }
    .btn-cancel {
      background-color: #404040;
    }
    .btn-receiving {
      width: 45%;
      height: auto;
      .button-inner {
          padding: 25px 15px;
          font: 19px 'avenir_bold';
      }
    }
  }
}
