modal-device {
    ion-content{
        .scroll-content{
            // background-color: #404040;
            .form-recebe-chassis {
                // background-color: #404040;
                border-radius: 5px;
                border: 1px solid transparent;
                height: auto;
                .form .form-group {
                    position: relative;
                    margin-bottom: 0;
                }
                h4 {
                    font: 16px 'avenir_demi';
                    color: #fff;
                    // background-color: #595959;
                    padding: 15px;
                    margin: 0 !important;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    width: 100%;
                }
                .select-input {
                    position: relative;
                    width: 100%;
                }
                label {
                    font: 16px 'avenir_demi';
                    bottom: 10px;
                    color: #fff;
                    position: absolute;
                    left: 15px;
                    display: inline-block;
                    max-width: 100%;
                    margin-bottom: 5px;
                }
                input {
                    font: 14px 'avenir_demi';
                    width: 100%;
                    // background-color: #404040;
                    border: none;
                    border-radius: 0;
                    // background-color: #404040;
                    color: #fff;
                    text-align: left;
                    padding-right: 15px;
                }
                ion-list{
                    margin: 0;
                    ion-list-header{
                        // background-color: #595959;
                        border-top: none;
                        ion-label{
                            color: #fff;
                            font: 16px 'avenir_demi';
                        }
                    }
                    ion-item{
                        // background-color: #404040;
                        padding: 0;
                        border-bottom: 1px solid #747474;
                        .item-inner{
                            padding-left: 15px;
                            border-bottom: 1px solid transparent !important;
                            ion-label{
                                color: #fff;
                            }
                            ion-select{
                                max-width: 85%;
                                .select-text{
                                    padding-right: 10px;
                                    color: #fff;
                                    font: 14px 'avenir_demi';
                                }
                            }
                        }
    
                    }            
                }              
            }
            ion-list-header{
                padding: 0;
                text-align: center;
                ion-label{
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;
                }                
            }
            ion-label{
                color: #fff;
                font-size: 16px;
            }
            .select-text{
                color: #fff !important;
                text-align: left;
            }

            .text-input{
                margin: 13px 0;
                color: #fff !important;
                text-transform: uppercase;
            }
            input::-webkit-input-placeholder {
                color: #fff !important;
            }
            input:-moz-placeholder {
                color:#fff !important;
            }
            input:-ms-input-placeholder {
                color: #fff !important;
            } 
            .login-content {
                padding: 25px 20px;
                width: 100%;
                text-align: center;
                .btn-login {
                    width: 100%;
                    height: auto;
                    background-color: #747474;
                    border: 1px solid #fff;
                    span {
                        padding: 25px 15px 25px 15px;
                        font: 19px 'avenir_bold';
                    }
                }
            }
        } 
    }
}
