<ion-content padding>
  <form class="form-recebe-chassis">
    <ion-list>
      <ion-list-header>
        Código do dispositivo 
      </ion-list-header>
          
        <ion-item>
            <ion-input class="form-control" type="text" [(ngModel)]="code" id="code" name="code" value="" placeholder="INSIRA O CÓDIGO"></ion-input>
        </ion-item>

        <!-- <ion-item>
          <ion-label label-ios>URL:</ion-label>
          <ion-select  (ionChange)="onChassisChange($event)" okText="Confirmar" cancelText="Cancelar" #select1 >
            <ion-option *ngFor="let item of parametros" value="{{item.url}}" [selected]="item.selected" text-left>{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>           -->


    </ion-list>
  </form>  
  <div class="login-content" padding>
    <button ion-button round class="btn-login" (click)="ConfirmarDispositivo()" type="button">ENVIAR</button>
  </div>
</ion-content>