modal-loading-white {
    display: none;
    background-color: #404040;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    ion-content.content {
        background-color: #404040;
        position: relative;
    }
}