<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
  <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
    <i class="icon icon-menu"></i>
  </button>
  <ion-title>
    {{title}}
  </ion-title>
</ion-header>

<ion-content padding id="selecao-superficie" class="recebimento show">

  <div>
    <form [formGroup]="formSelecaoSuperficie" class="form-selecao-superficie">
      <ion-list>

        <ion-item class="item-list-black">
          <ion-label label-ios style="font-style: unset;">Chassi Avariado</ion-label>
        </ion-item>

        <ion-item class="item-list-grey">
          <ion-label label-ios style="font-style: unset;"><b>Chassi: </b>{{formSelecaoSuperficie.controls.chassi.value}}</ion-label><p></p>
        </ion-item>

        <ion-item class="item-list-grey">
          <ion-label label-ios style="font-style: unset;"><b>Modelo: </b>{{formSelecaoSuperficie.controls.modelo.value}}</ion-label>
        </ion-item>

        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Posição Avaria: </b></ion-label><p></p>
          <ion-select (ionChange)="selectPosicaoAvariaChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="posicaoAvaria">
             <ion-option *ngFor="let item of posicoesAvaria" value="{{item.id}}" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Selecionar Parte / Peças:</b></ion-label>
          <ion-select (ionChange)="selectPartesAvariaChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="superficieChassiParte">
             <ion-option *ngFor="let item of partesAvaria" value="{{item.id}}" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Selecionar Tipo Avaria:</b></ion-label>
          <ion-select (ionChange)="selectTipoAvariaChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="tipoAvaria">
            <ion-option *ngFor="let item of avarias" value="{{item.tipoAvaria.id}}" id="{{item.tipoAvaria.id}}">{{item.tipoAvaria.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <div >
          <!-- <div *ngIf="formSelecaoSuperficie.controls.partePeca.value">
            <ion-chip size="small" [ngStyle]="styleObject()">
              <b class="ion-chip-label">{{avaria.tipoAvaria.sigla}}</b>
            </ion-chip>
          </div> -->

          <img [src]="urlImagem" id="image" class="img-relative">

          <div id="canvasWrapper">
            <canvas #imageCanvas (touchstart)="touched($event)" (touchmove)="moved($event)" id="canvas"></canvas>
          </div>
        </div>
        <!-- <canvas-draw *ngIf="urlImagem" src="data:image/jpeg;base64,{{urlImagem}}" #myCanvasDraw></canvas-draw> -->
        <!-- <canvas-draw [image]="urlImagem"></canvas-draw> -->
        <!-- <img [src]="urlImagem" style="width: 100%;"> -->
        <!-- <img src="assets/images/car_model.PNG" style="width: 100%;"> -->
<!--
        <ion-item *ngIf="tipoAvaria.id">
          <ion-label label-ios style="font-style: unset;"><b>Tipo Avaria: </b>{{tipoAvaria.sigla}} - {{tipoAvaria.nome}}</ion-label>
        </ion-item> -->

        <ion-item class="hidden" id="subAreaCombo">
          <ion-label label-ios style="font-style: unset;"><b>Subárea: </b></ion-label>
          <ion-select (ionChange)="selectSubareaChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="subArea">
            <ion-option value="{{1}}">1</ion-option>
            <ion-option value="{{2}}">2</ion-option>
            <ion-option value="{{3}}">3</ion-option>
            <ion-option value="{{4}}">4</ion-option>
            <ion-option value="{{5}}">5</ion-option>
            <ion-option value="{{6}}">6</ion-option>
            <ion-option value="{{7}}">7</ion-option>
            <ion-option value="{{8}}">8</ion-option>
            <ion-option value="{{9}}">9</ion-option>
          </ion-select>
        </ion-item>
<!--
        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Posição da Avaria: </b>{{posicaoAvaria.nome}}</ion-label>
        </ion-item> -->

        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Gravidade: </b></ion-label>
          <ion-select (ionChange)="selectGravidadeChange($event)" okText="Selecionar" cancelText="Cancelar" formControlName="gravidadeAvaria">
            <ion-option *ngFor="let item of gravidadesAvaria" value="{{item.id}}" id="{{item.id}}">{{item.nome}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label label-ios style="font-style: unset;"><b>Observação: </b></ion-label>
          <ion-textarea label-ios style="font-style: unset; color: white;"  formControlName="observacao"></ion-textarea>
        </ion-item>

        <ion-item no-lines>
          <ion-label label-ios style="font-style: unset;"><b>Imagens:</b></ion-label>
        </ion-item>

        <ion-toolbar color="primary" *ngFor="let file of images; index as pos" text-wrap>
          <ion-row style="align-items: center;">
            <ion-thumbnail>
              <ion-col>
                <img [src]="file.path" style="width:25% ; height: 25%;" class="align-items-dangerous-image">
              </ion-col>
              <ion-col>
                <ion-label class="align-items-dangerous-image abel-align-dangerous">{{ file.fileName }}</ion-label>
              </ion-col>
              <ion-col size="1">
                <button ion-button slot="end" (click)="deleteImage(file)" class="button-style">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </button>
              </ion-col>
            </ion-thumbnail>
          </ion-row>
        </ion-toolbar>

        <ion-toolbar color="primary">
          <ion-row style="align-items: center;" (click)="selectImage($event)">
            <ion-thumbnail>
              <img src="assets/images/camera-white-model.png" class="align-camera">
            </ion-thumbnail>
          </ion-row>
        </ion-toolbar>

      </ion-list>

    </form>
  </div>

</ion-content>

<ion-footer no-border [ngStyle]="{'background-color': primaryColor}">
  <ion-grid class="grid-botao-wrapper">
    <ion-row>
      <ion-col>
          <button ion-button round end class="btn-receiving btn-cancel"  (click)="voltar()" type="button">Voltar</button>
          <button ion-button round end class="btn-receiving btn-ok" type="button" (click)="uploadData()" [disabled]="!formSelecaoSuperficie.valid">Salvar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<modal-error></modal-error>
<modal-loading></modal-loading>
