<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}" >
    <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
        <i class="icon icon-menu"></i>
    </button>
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">

  <ion-list>
    <ion-item [ngStyle]="{'background-color': '#000000'}" no-lines *ngIf="this.list.length > 0">
      <label class="title-header">{{filtro}}</label>
      <span style="font-weight: bold;"> {{filtroValor}}</span>
    </ion-item>
    <div *ngFor="let item of list" (click)="editar(item)" id="'{{item.id}}" class="color background-color-no-selected">
      <ion-item [ngStyle]="{'background-color': primaryColor}" no-lines *ngIf="filtro != 'Chassi:'">
        <label class="title-header">Chassi: </label>
        <span> {{item.veiculo.chassi}}</span>
      </ion-item>
      <ion-item [ngStyle]="{'background-color': primaryColor}" no-lines *ngIf="filtro != 'Modelo:'">
        <label class="title-header">Modelo: </label>
        <span> {{item.veiculo.modelo}}</span>
      </ion-item>
      <ion-item [ngStyle]="{'background-color': primaryColor}" no-lines *ngIf="filtro != 'Data:'">
        <label class="title-header">Data: </label>
        <span> {{item.dataCadastro | date : "dd/MM/yyyy"}}</span>
      </ion-item>

    </div>
  </ion-list>
</ion-content>

<ion-footer no-border [ngStyle]="{'background-color': primaryColor}">
  <ion-grid class="grid-botao-wrapper">
    <!-- <ion-row>
      <ion-col>
        <button ion-button class="btn-menu-internal btn-ok" (click)="toLancamentoAvaria()" type="button" [disabled]="disableContinuar">Editar</button>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <button ion-button class="btn-menu-internal btn-cancel" (click)="navigateToBuscarAvariaPage()" type="button">Voltar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

<modal-loading></modal-loading>
