<side-menu></side-menu>
<ion-header (click)="toggleMenu()" [ngStyle]="{'background-color': primaryColor}">
    <button class="btn-menu" [ngStyle]="{'background-color': primaryColor}">
        <i class="icon icon-menu"></i>
    </button>
    <ion-title>
        {{title}}
    </ion-title>
</ion-header>

<ion-content padding [ngStyle]="{'background-color': secondaryColor}">
    <ion-list>
        <div>
            <ion-list-header>
                <div style="margin-bottom: 10px;" *ngIf="formData.veiculoID">
                    <label class="title-header">Chassi: </label>
                    <span> {{formData.chassi}}</span>
                </div>
                <div style="margin-bottom: 10px;" *ngIf="formData.data">
                    <label class="title-header">Data: </label>
                    <span> {{formData.data | date : "dd/MM/yyyy"}}</span>
                </div>
                <div style="margin-bottom: 10px;" *ngIf="formData.parteAvariaDesc">
                    <label class="title-header">Parte: </label>
                    <span> {{formData.parteAvariaDesc}}</span>
                </div>
                <div style="margin-bottom: 10px;" *ngIf="formData.modelo">
                    <label class="title-header">Modelo: </label>
                    <span> {{formData.modelo}}</span>
                </div>
                <div style="margin-bottom: 10px;" *ngIf="formData.tipoAvariaDesc">
                    <label class="title-header">Tipo Avaria: </label>
                    <span> {{formData.tipoAvariaDesc}}</span>
                </div>
                <div style="margin-bottom: 10px;" *ngIf="formData.gravidadeDesc">
                    <label class="title-header">Nível Avaria: </label>
                    <span> {{formData.gravidadeDesc}}</span>
                </div>
            </ion-list-header>
        </div>
        <div>
            <div *ngFor="let avaria of listaAvarias" [ngStyle]="{'background-color': secondaryColor}">
                <ion-list-header (click)="editar()">
                    <div style="margin-bottom: 10px;">
                        <label class="title-header">Chassi: </label>
                        <span> {{avaria.chassi}}</span>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label class="title-header">Modelo: </label>
                        <span> {{avaria.modelo}}</span>
                    </div>
                    <div>
                        <label class="title-header">Data: </label>
                        <span> {{avaria.data | date : "dd/MM/yyyy"}}</span>
                    </div>
                </ion-list-header>
            </div>


        </div>

    </ion-list>

    <div class="login-content">
        <button ion-button round first class="btn-receiving btn-cancel" (click)="navigateToBuscarAvariaPage()"
            type="button">VOLTAR</button>
        <!-- <button ion-button round end class="btn-receiving btn-ok" [ngStyle]="{'background-color': buttonColor}" (click)="avancar()" type="button">BUSCAR</button> -->
    </div>

</ion-content>

<modal-loading></modal-loading>